.overlay {
	position: absolute;
	inset: 0;

	z-index: 30;

	width: 100%;
	height: 100%;

	background-color: var(--color-bg-duration);

	transition:
		opacity var(--trns),
		visibility var(--trns);

	&:not(._active) {
		visibility: hidden;
		opacity: 0;
	}

	&._active {
		visibility: visible;
		opacity: 1;
	}
}
