.playlist {

	.author {
		margin-top: 20px;
	}

	.author__subs {
		display: none;
	}

	&__heading {
		width: 100%;
		margin-bottom: 30px;
		padding-block: 20px;

		background-color: var(--color-bg-form);
	}

	&__wrapper {
		display: inline-flex;
		flex-direction: column;

		@media (min-width: 84.375em) {
			align-items: flex-start;
		}

		@media (max-width: 84.3125em) {
			align-items: center;
		}
	}

	&__about {
		width: 100%;
	}

	&__name {
		font-weight: 700;
		font-size: unquote('clamp(1.25rem, 1.0500rem + 1.0000vw, 2.25rem)');
		word-break: break-all;

		@media (max-width: 84.3125em) {
			text-align: center;
		}
	}

	&__stat {
		display: flex;
		flex-wrap: wrap;

		gap: 15px;
		margin-top: 20px;

		color: var(--color-text);

		& > * {
			position: relative;

			display: flex;

			gap: 10px;
			align-items: center;
			padding: 5px 15px;
			border-radius: var(--brs-m);
			overflow: hidden;

			background-color: var(--color-bg);
		}

		@media (min-width: 84.375em) {
			justify-content: flex-start;
		}

		@media (max-width: 84.3125em) and (min-width: 20em) {
			justify-content: center;
		}
	}
}
