<div class="playlist win">
	<header class="playlist__heading">
		<div class="playlist__wrapper outter-container">
			<div class="playlist__about">
				<h1 class="playlist__name title">
					<div class="skeleton title-skeleton"></div>
					<span></span>
				</h1>
				<div class="playlist__stat">
					<div class="playlist__part">
						<div class="skeleton part-skeleton"></div>
						<span class="playlist__video-count">...</span>
					</div>
					<div class="playlist__part">
						<div class="skeleton part-skeleton"></div>
						<span class="playlist__last-upd">...</span>
					</div>
					<div class="playlist__part">
						<div class="skeleton part-skeleton"></div>
						<svg width="26px" height="16px">
							<use xlink:href="img/svg/actions.svg#views"></use>
						</svg>
						<span class="playlist__views">...</span>
					</div>
					<div class="playlist__part">
						<div class="skeleton part-skeleton"></div>
						<svg width="20px" height="18px">
							<use xlink:href="img/svg/actions.svg#date"></use>
						</svg>
						<span class="playlist__duration">...</span>
					</div>
				</div>
			</div>
			@include('../../components/card/card-author/card-author.html')
		</div>
	</header>
	<section class="playlist__grid grid outter-container">
		<h2 class="grid__title" hidden>Video list of the playlist</h2>
		@include('../../components/grid/grid-video.html')
	</section>
</div>
