.video {

	.video-skeleton {
		border-radius: 0;
	}

	&._live {

		.controls__speed,
		.time__duration,
		.time__separator {
			display: none;
		}
	}
	// .video__wrapper

	&__wrapper {
		--header-height: 0;

		position: relative;

		display: grid;
		place-items: center;

		aspect-ratio: 16 / 9;
		margin: auto;
		overflow: hidden;

		background-color: var(--color-bg);
		box-shadow: var(--box-shadow-s);

		video {
			position: absolute;
			inset: 0;

			width: 100%;
			height: 100%;
			object-fit: contain;

			background-color: var(--color-bg-duration);

			&::-webkit-media-text-track-display {
				text-align: center !important;
			}

			&::cue {
				font-family: var(--ff);
				line-height: 1.5;
			}
		}

		@media (min-width: 78.1875em) {
			flex: 1 1 100%;
		}

		@media (min-width: 48em) {
			width: 80%;
			border-radius: var(--brs-l);
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {

				.video__poster img {
					transform: scale(1.05);
				}
			}
		}

		@media (max-width: 47.9375em) {
			width: 100%;

			&._fixed {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 99;

				width: 100%;
				margin-top: var(--header-height);
			}
		}
	}

	&__poster {
		position: absolute;
		inset: 0;

		z-index: 1;

		width: 100%;
		height: 100%;
		margin-bottom: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			transition: transform var(--trns), opacity var(--trns), visibility var(--trns);
		}

		&:not(._hidden) {

			img {
				transform: scale(1);
				visibility: visible;
				opacity: 1;
			}
		}

		&._hidden {

			img {
				transform: scale(3);
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}

.decorations {
	position: absolute;
	inset: 0;

	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;

	background-color: transparent;
	cursor: pointer;

	&__item {
		position: absolute;

		display: grid;

		place-items: center;
		width: 150px;
		height: 150px;
		border-radius: var(--brs-xl);

		background-color: var(--color-bg-duration);

		& > svg {
			position: relative;
			z-index: 1;

			fill: hsl(0, 0%, 100%) !important;
		}

		&:not(._active),
		&:not(._active) > svg {
			transform: scale(1);
			opacity: 0;

			transition: transform 0.3s var(--ease-in-sine), opacity 0.3s var(--ease-in-sine);
		}

		&._active,
		&._active > svg {
			transform: scale(1.1);
			opacity: 1;

			transition: transform 0.3s var(--ease-out-sine), opacity 0.3s var(--ease-out-sine);
		}
	}
}

.top-bar {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	margin-inline: auto;
	padding-block: 30px;
	padding-inline: 20px;

	background-image:
		linear-gradient(
			0deg,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.2) 25%,
			hsla(0, 0%, 0%, 0.5) 50%,
			hsla(0, 0%, 0%, 0.6) 75%,
			hsla(0, 0%, 0%, 0.75) 100%
		);

	&:not(._opened) {
		opacity: 0;

		transition: opacity var(--trns-slow) var(--trns-time-default);
	}

	&._opened {
		opacity: 1;

		transition: opacity var(--trns);
	}

	&__title {
		display: -webkit-box;
		overflow: hidden;

		color: hsl(0, 0%, 100%);
		font-size: 1.5rem;

		opacity: 0.8;

		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	&__author {
		color: hsl(0, 0%, 100%);

		opacity: 0.4;
	}
}
