{
	"plugins": ["prettier"],
	"parserOptions": { "ecmaVersion": "latest" },
	"extends": ["airbnb-base", "plugin:unicorn/recommended", "plugin:prettier/recommended", "prettier"],
	"env": {
		"es2021": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"unicorn/no-null": "off",
		"unicorn/prevent-abbreviations": "off",
		"import/prefer-default-export": "off",
		"no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
		"no-unused-vars": ["error", { "argsIgnorePattern": "^_$" }]
	},
	"globals": {
		"API": "readonly",
		"Hls": "readonly",
		"theme": "readonly",
		"GraphModal": "readonly"
	}
}
