.author {
	position: relative;
	display: flex;
	align-items: center;

	padding: 10px;
	border-radius: var(--brs-m);
	background-color: var(--color-bg-form);

	transition: border-color var(--trns);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
		border-radius: var(--brs-m);

		background-color: var(--color-text);
		opacity: 0.2;

		transition: width var(--trns-time-default) var(--ease-in-sine);
	}

	&:first-child {
		text-align: left;
	}

	&:last-child {
		@media (min-width: 30.6875em) {
			justify-self: end;
		}
	}

	&__avatar {
		--size: clamp(50px, 15vw, 80px);

		position: relative;
		overflow: hidden;
		height: var(--size);
		min-width: var(--size);

		max-width: var(--size);
		margin-right: 20px;
		margin-bottom: 0;
		border-radius: 50%;
		box-shadow: var(--box-shadow-s);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name,
	&__subs {
		position: relative;
		overflow: hidden;
		min-width: 11ch;

		transition: margin-left var(--trns-time-default) var(--ease-in-sine);
	}

	&__name {
		z-index: 2;

		display: box;

		margin: 0;
		font-style: unset;

		font-size: unquote('clamp(1.1rem, 0.9600rem + 0.7000vw, 1.8rem)');
		text-align: left;

		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	&__subs {
		display: inline-block;
		margin-top: 10px;

		margin-left: 0;
		color: var(--color-text);
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			&::before {
				width: 100%;
			}

			.author__name,
			.author__subs {
				margin-left: 10px;
			}
		}
	}
}
