.burger {
    --height-buger: 17px;
    --height-line: 3px;

    position: relative;
    box-sizing: content-box;

    width: 20px;
    height: var(--height-buger);


    background-color: transparent;
    transition: background-color var(--trns),
        border-color var(--trns);

    &._active {
        background-color: var(--color-accent-l);
    }

    &._active>&__wrapper {
        &:before {
            left: 50%;
        }

        &:after {
            left: 50%;
            width: 50%;
        }

        &:before,
        &:after,
        span {
            background-color: var(--color-accent-s);
        }

    }

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        &:before,
        &:after,
        span {
            position: absolute;
            left: 0;

            width: 100%;
            height: var(--height-line);
            border-radius: 20px;

            background-color: var(--color-title);

            transition: background-color var(--trns);
        }

        &:before {
            content: "";
            top: 0;
            width: 50%;

            transition: left var(--trns),
                background-color var(--trns);
        }

        span {
            top: calc(var(--height-buger) / 2 - var(--height-line) / 2);
        }

        &:after {
            content: "";
            bottom: 0;

            transition: left var(--trns),
                width var(--trns),
                background-color var(--trns);
        }

    }


    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--color-accent-l);
        }

        &:hover>&__wrapper {

            &:before,
            &:after,
            span {
                background-color: var(--color-accent-s);
            }
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}
