.card {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: auto 1fr;

    @media (min-width: 450px) {
        border-radius: var(--brs-l);
    }

    padding: 6px;
    background-color: var(--color-bg-form);

    transition: box-shadow var(--trns),
    transform var(--trns),
    opacity var(--trns),
    border-color var(--trns),
    visibility var(--trns);

    &._live {

        .card__duration,
        .card__views,
        .card__separator {
            display: none;
        }

        .card__date {
            background-color: var(--color-accent-s);
            padding: 2px 5px;
            display: inline-block;
            border-radius: var(--brs-s);
            color: #fff;
        }
    }

    &._video {

        .card__channel-descr,
        .card__edge,
        .card__video-count,
        .card__subs {
            display: none;
        }

    }

    &._playlist {

        .card__channel-descr,
        .card__duration,
        .card__video-count,
        .card__details {
            display: none;
        }
    }

    &._channel {
        .card__image {
            width: 50%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            justify-self: center;
            align-self: center;
        }

        .card__views,
        .card__edge,
        .card__duration,
        .card__channel,
        .card__date {
            display: none;
        }
    }

    &._history-video,
    &._playlist-video {

        .card__views,
        .card__separator,
        .card__date {
            display: none;
        }
    }

    &._playlist-video {
        .card__channel {
            display: none;
        }
    }

    // .card__image

    &__image {
        position: relative;
        border-radius: var(--brs-l);
        overflow: hidden;
        display: flex;
        width: 100%;
        background-color: var(--color-bg-form);
        aspect-ratio: 16 / 9;

        justify-self: start;

        transition: width var(--trns),
            aspect-ratio var(--trns);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform var(--trns);
            font-size: 0;
            background-color: var(--color-bg-form);
        }
    }

    &__info {
        display: grid;
        grid-template-rows: 1fr auto;
        height: 100%;
    }

    // .card__title

    &__title {
        text-align: left;
        position: relative;
        margin: 10px 0 0;
        font-weight: 500;
        line-height: 23px / 16px * 100%;
        color: var(--color-title);

        transition: color var(--trns);

        @media (min-width: 768px) {
            font-size: 18px;
        }

        @media (max-width: 767px) {
            font-size: 16px;
        }

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__channel-descr {
        line-height: 23px / 16px * 100%;

        @media (min-width: 768px) {
            font-size: 16px;
        }

        @media (max-width: 767px) {
            font-size: 14px;
        }

		max-width: 65ch;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
		padding-left: 10px;
		border-left: 3px solid var(--color-text);
    }

    // .card__bottom

    &__bottom {
        position: relative;
        text-align: left;
        max-width: inherit;

        margin-top: 10px;

        font-family: inherit;
        font-size: 16px;
        line-height: 16px / 13px * 100%;
        color: var(--color-text);

        transition: color var(--trns);
    }

    // .cards__edge

    &__edge {
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;

        padding-right: 10px;
        padding-left: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 20px;
        color: #fff;

        clip-path: circle(40% at 110% 50%);

        transition: clip-path var(--trns-time-default) var(--ease-in-sine),
            width var(--trns-time-default) var(--ease-in-sine);

        background-color: var(--color-bg-unsubscribe);

        &:before {
            content: 'VIEW ALL';
            text-transform: uppercase;
            background-color: transparent;
        }
    }

    // .card__icon

    &__icon {
        margin-right: 0;

        svg {
            fill: #fff !important;
        }
    }

    // .card__wrapper

    &__wrapper {
        height: 100%;
        display: grid;
        gap: 10px;
        place-content: center;

        background-color: transparent;

        span {
            text-align: center;
        }
    }

    &__btn {
        width: 100%;
        border-radius: var(--brs-m);
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px / 16px * 100%;
        padding: 10px 20px;
        color: var(--color-title);

        background-color: var(--bg-playlist-btn);

        transition: background-color var(--trns),
            color var(--trns);

        &:before {
            background-color: var(--bg-playlist-btn-hover);
        }
    }

    &__duration {
        position: absolute;
        bottom: 10px;
        right: 10px;

        font-size: 14px;
        line-height: 18px / 14px * 100%;
        color: #fff;
        padding: 3px 9px;

        border-radius: var(--brs-l);
        background-color: var(--color-bg-duration);
    }

    &__channel,
    &__details {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (min-width: 768px) {
            font-size: 16px;
        }

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }

    &__channel {
        @media (min-width: 576px) {
            margin-top: 10px;
        }

        @media (max-width: 575px) {
            margin-top: 5px;
        }

        margin: 0;
    }
}
