.card {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: auto 1fr;

	@media (min-width: 28.125em) {
		border-radius: var(--brs-l);
	}

	padding: 6px;
	background-color: var(--color-bg-form);

	transition: box-shadow var(--trns), transform var(--trns), opacity var(--trns), border-color var(--trns),
		visibility var(--trns);

	&._live {
		.card__part:last-child > svg,
		.card__duration {
			display: none;
		}

		.card__date {
			background-color: var(--color-error);
			padding: 2px 10px;
			font-weight: 500;
			display: inline-block;
			text-transform: uppercase;
			border-radius: var(--brs-s);
			color: #fff;
		}
	}

	&._video {
		.card__channel-descr,
		.card__edge,
		.card__video-count,
		.card__subs {
			display: none;
		}
	}

	&._playlist {
		.card__duration,
		.card__channel-descr {
			display: none;
		}

		.card__video-count,
		.card__details {
			@media (min-width: 36em) {
				opacity: 0;
				visibility: hidden;
			}

			@media (max-width: 35.9375em) {
				display: none;
			}
		}
	}

	&._channel {
		.card__image {
			width: 50%;
			aspect-ratio: 1/1;
			border-radius: 50%;
			justify-self: center;
			align-self: center;
		}

		.card__part,
		.card__edge,
		.card__duration,
		.card__channel {
			display: none;
		}
	}

	&._history-video,
	&._playlist-video {
		.card__details {
			display: none;
		}

		.card__channel {
			margin-top: 0;
		}
	}

	&._playlist-video {
		.card__channel {
			display: none;
		}
	}

	// .card__image

	&__image {
		position: relative;
		border-radius: var(--brs-l);
		overflow: hidden;
		display: flex;
		width: 100%;
		background-color: var(--color-bg-form);
		aspect-ratio: 16 / 9;

		justify-self: start;

		transition: width var(--trns), aspect-ratio var(--trns);

		--watched-progress: 0%;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: var(--watched-progress);
			border-radius: var(--brs-s);
			height: 3%;
			z-index: 1;
			background-color: var(--color-accent-s);

			transition: width var(--trns);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: transform var(--trns);
			font-size: 0;
			background-color: var(--color-bg-form);
		}
	}

	&__info {
		display: grid;
		grid-template-rows: 1fr auto;
		height: 100%;
	}

	// .card__title

	&__title {
		text-align: left;
		position: relative;
		margin: 10px 0 0;
		font-weight: 500;
		line-height: 23px / 16px * 100%;
		color: var(--color-title);

		transition: color var(--trns);

		@media (min-width: 48em) {
			font-size: 1.125rem;
		}

		@media (max-width: 47.9375em) {
			font-size: 1rem;
		}

		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__channel-descr {
		line-height: 23px / 16px * 100%;

		@media (min-width: 48em) {
			font-size: 1rem;
		}

		@media (max-width: 47.9375em) {
			font-size: 0.875rem;
		}

		max-width: 65ch;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		padding-left: 10px;
		border-left: 3px solid var(--color-text);
	}

	// .card__bottom

	&__bottom {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		max-width: inherit;

		margin-top: 15px;

		font-family: inherit;
		font-size: 1rem;
		line-height: 16px / 13px * 100%;
		color: var(--color-text);

		transition: color var(--trns);
	}

	// .cards__edge

	&__edge {
		position: absolute;
		top: 0;
		right: 0;

		width: 100%;
		height: 100%;

		padding-right: 10px;
		padding-left: 30px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		font-size: 1.375rem;
		color: #fff;

		clip-path: circle(40% at 110% 50%);

		transition: clip-path var(--trns-time-default) var(--ease-in-sine),
			width var(--trns-time-default) var(--ease-in-sine);

		background-color: var(--color-bg-unsubscribe);

		&:before {
			content: 'VIEW ALL';
			text-transform: uppercase;
			background-color: transparent;
		}
	}

	// .card__icon

	&__icon {
		margin-right: 0;

		svg {
			fill: #fff !important;
		}
	}

	&__part {
		display: flex;
		align-items: center;
		gap: 5px;

		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	// .card__wrapper

	&__wrapper {
		height: 100%;
		display: grid;
		gap: 10px;
		place-content: center;

		background-color: transparent;

		span {
			text-align: center;
		}
	}

	&__btn {
		width: 100%;
		border-radius: var(--brs-m);
		text-transform: uppercase;
		margin-top: 10px;
		font-size: 1rem;
		line-height: 22px / 16px * 100%;
		padding: 10px 20px;
		color: var(--color-title);

		background-color: var(--bg-playlist-btn);

		transition: background-color var(--trns), color var(--trns);

		&:before {
			background-color: var(--bg-playlist-btn-hover);
		}
	}

	&__duration {
		position: absolute;
		bottom: 10px;
		right: 10px;

		font-size: 0.875rem;
		line-height: 18px / 14px * 100%;
		color: #fff;
		padding: 3px 9px;

		border-radius: var(--brs-l);
		background-color: var(--color-bg-duration);
	}

	&__channel,
	&__details {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;

		@media (min-width: 48em) {
			font-size: 1rem;
		}

		@media (max-width: 47.9375em) {
			font-size: 0.875rem;
		}
	}

	&__channel {
		position: relative;
		margin-top: 15px;
		padding-block: 6px;
		padding-inline: 5px 15px;
		margin-bottom: 0;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 2px;

			background-color: var(--color-text);

			transition: width var(--trns);
		}

		transition: background-color var(--trns);

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
}
