.grid {
	// .grid__wrapper

	&__wrapper {
		display: grid;

		gap: 15px;

		@media (min-width: 48em) {
			grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
		}

		@media (max-width: 47.9375em) and (min-width: 36em) {
			grid-template-columns: 1fr 1fr;
			justify-content: space-between;
		}

		@media (max-width: 35.9375em) {
			grid-template-columns: 1fr;
			justify-content: center;
		}
	}

	// .grid__item

	&__item {
		@media (hover: hover) and (pointer: fine) {

			&:not(:hover) {

				.card {
					box-shadow: transparent 0 8px 24px;
					transform: translateY(0);

					img {
						transform: scale(1);
					}
				}
			}

			&:hover {

				.card:not([disabled]) {
					box-shadow: var(--box-shadow-m);
					transform: translateY(-5px);

					img {
						transform: scale(1.05);
					}
				}

				.card__edge {
					width: 100%;

					clip-path: circle(100% at 70% 50%);
				}
			}
		}

		@media (max-width: 28.0625em) {

			.author {
				border-radius: 0;
			}
		}
	}

	&__btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 310px;
		margin-inline: auto;
		margin-top: 40px;
	}

	&__count {
		color: var(--color-title);
		font-size: 1.25rem;
	}
}

.btns {

	button {
		padding: 10px 35px;

		&[disabled] {
			visibility: hidden;
			opacity: 0;
		}
	}

	&__prev {

		svg {
			transform: scale(-1);
		}
	}
}

.column {

	.grid__wrapper {
		@media (min-width: 36em) {
			grid-template-columns: 1fr;
		}

		@media (min-width: 62em) {
			max-width: 85vw;
			margin-inline: auto;
		}
	}

	.card {
		@media (min-width: 48em) {
			grid-template-rows: 1fr;
			grid-template-columns: 35% auto;

			column-gap: 20px;
		}

		@media (max-width: 47.9375em) and (min-width: 36em) {
			grid-template-columns: 56% auto;

			column-gap: 15px;
		}

		@media (max-width: 35.9375em) {
			grid-template-rows: auto 1fr;
		}
	}

	.card__title {
		@media (min-width: 48em) {
			font-size: 1.375rem;
		}

		@media (min-width: 36em) {
			margin: 0;
		}
	}

	.card__info {
		grid-template-rows: auto 1fr;
	}

	.card__bottom {
		gap: 13px;
		justify-content: space-between;
	}
}
