.header {
	position: fixed;
	right: 0;
	z-index: 100;

	width: 100%;

	background-color: var(--color-bg-form);

	box-shadow: var(--box-shadow-s);

	transition: top var(--trns), box-shadow var(--trns), background-color var(--trns);

	&:not(._hidden) {
		top: 0;
	}

	.burger {
		padding: 30px;
	}

	.search {
		margin: auto;
	}

	&._hidden {
		top: -84px;
	}

	// .header__outter-container

	&__outter-container {
		position: relative;

		display: flex;
		align-items: stretch;
		justify-content: space-between;

		column-gap: 20px;
	}

	&__btn {
		padding-inline: 30px;

		background-color: transparent;

		transition: background-color var(--trns), border-color var(--trns);

		svg {
			transition: fill var(--trns);

			fill: var(--color-title) !important;
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {
				background-color: var(--color-accent-l);

				svg {
					fill: var(--color-accent-s) !important;
				}
			}
		}

		@media (max-width: 47.9375em) {
			display: none;
		}
	}

	@media (max-width: 47.9375em) {
		padding-block: unquote('clamp(0.625rem, 0.3977rem + 1.1364vw, 1.25rem)');
	}
}
