.indicator {
	--progress: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	display: grid;
	place-items: center;
	width: 100%;
	height: 10px;
	padding-block: 5px;
	box-shadow: var(--color-box-shadow-s) 0 -8px 24px;
	background-color: var(--color-bg-form);

	opacity: 0;
	visibility: hidden;

	transition: opacity var(--trns), visibility var(--trns);

	&:before {
		// content: attr(data-progress);
		position: relative;
		z-index: 2;
		height: 100%;
		padding-inline: 5px;
		border-radius: var(--brs-m);
		color: var(--color-accent-s);

		background-color: hsl(0, 0%, 100%);
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 35%;
		height: 100%;

		background-color: var(--color-accent-s);

		transform: translateX(-100%);

		animation: unset;
	}

	&._visible {
		opacity: 1;
		visibility: visible;

		&:after {
			animation: indicator 2s linear infinite;
		}
	}
}

@keyframes indicator {
	0% {
		left: 0%;
	}

	5% {
		left: 0%;
	}

	100% {
		left: 200%;
	}
}
