.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
	z-index: 1;

    background-color: var(--color-bg-duration);

    transition: opacity var(--trns),
        visibility var(--trns);

    &:not(._active) {
        opacity: 0;
        visibility: hidden;
    }

    &._active {
        opacity: 1;
        visibility: visible;
    }
}
