.search {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: transparent;

    @media (min-width: 768px) {
        max-width: 830px;
    }

    &._has-suggest {
        .search__bar {
            border-radius: var(--brs-m) var(--brs-m) 0 0;
        }

        .search__dropdown {
            opacity: 1;
            visibility: visible;
        }
    }


    // .search__btn

    &__btn {
		position: absolute;
        top: 50%;
        right: 7.5px;
        display: grid;
		place-items: center;
        padding: 2px;
        z-index: 10;

        transform: translateY(-50%);
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        opacity: 0;
        visibility: hidden;

        box-shadow: var(--box-shadow-m);

        transition: opacity var(--trns),
            visibility var(--trns);

		border-bottom-left-radius: var(--brs-m);
		border-bottom-right-radius: var(--brs-m);

		padding-block: 20px;
        padding-inline: 11px;
        background-color: var(--color-bg-field);
    }

    &__suggest {
		background-color: var(--color-bg-field);
        color: var(--color-text-field);
        font-size: var(--caption-font-size);
        font-weight: 400;
        width: 100%;
        height: 100%;
        border: 0;
        padding: 12px;
        text-align: left;

        transition: background-color var(--trns);

		&:not(._visible) {
			display: none;
		}

        &._visible {
            display: unset;
        }

        border-radius: var(--brs-s);

        &._selected,
        &:focus-visible,
        &:hover {
            background-color: var(--color-bg-suggest-selected);
        }

    }
}
