.sidebar {
    position: fixed;
    z-index: 20;

    box-shadow: var(--box-shadow-s);
    background-color: var(--color-bg-form);

    transition: transform var(--trns),
        background-color var(--trns),
        box-shadow var(--trns),
        visibility var(--trns);

    @media (min-width: 768px) {
        top: 0;
        left: 0;
        width: 227px;
        padding-bottom: 10px;
        overflow: hidden auto;
        overscroll-behavior: contain;
        padding-top: 114px;
        height: 100vh;

        &._closed {
            transform: translateX(-100%);
            visibility: hidden;
        }
    }


    @media (max-width: 767px) {
        left: 50%;
        overflow: hidden;
        padding: 4px;
        width: calc(100% - 20px);

        border-radius: var(--brs-xl);

        filter: drop-shadow(0px -5px 40px var(--box-shadow-s));

        &:not(._hidden) {
            bottom: 10px;
            transform: translateX(-50%);
        }

        &._hidden {
            bottom: 0;
            transform: translateX(-50%) translateY(100%);
        }
    }

    @media (min-width: 768px) {
        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-bg-field);
            border-radius: var(--brs-m);
            border: 3px solid var(--color-bg-form);
        }

        &::-webkit-scrollbar-track {
            background-color: var(--color-bg-form);
        }

    }

    @media (max-width: 767px) {
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    @media (max-width: 767px) {

        .sidebar__caption {
            display: none;
        }
    }

    &__nav {
        height: 100%;
    }

    // .sidebar__list

    &__list {
        display: flex;

        @media (min-width: 768px) {
            flex-direction: column;
            height: 100%;
        }

        @media (max-width: 767px) {
            flex-direction: row;
            justify-content: space-between;
        }

    }

    // .sidebar__item

    &__item {
        @media (min-width: 768px) {
            &:not(:first-child) {
                margin-top: 10px;
            }

			&:nth-last-child(-n+2) {
				margin-bottom: 10px;
			}
        }

        @media (max-width: 767px) {
            flex: 0 1 25%;
            display: flex;
            justify-content: center;
        }

        &:before {
            content: unset;
        }

        &:last-child {
            margin-top: auto;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }


    // .sidebar__btn

    &__btn {
        width: 100%;
        position: relative;
        background-color: transparent;

        @media (min-width: 768px) {
            display: flex;
			align-items: center;
            padding-block: 14px;
            padding-left: 20px;
            padding-right: 10px;
            --wipe-dir: 90deg;
            background-image: linear-gradient(var(--wipe-dir), var(--color-accent-l), var(--color-accent-l));
            background-repeat: no-repeat;
            background-size: 0% 100%;

            transition: border-color var(--trns),
                background-color var(--trns),
                background-size var(--trns-time-default) var(--ease-in-sine);
        }

        @media (max-width: 767px) {
            display: grid;
            place-items: center;
            padding-block: calc(7px + (15 - 7) * ((100vw - 320px) / (767 - 320)));
            justify-content: center;
            border-radius: var(--brs-l);
            transition: background-color var(--trns)
        }

		&._active {
		    background-color: var(--color-accent-s);

		    .sidebar__caption {
		        color: #fff;
			}

		    .sidebar__icon {
		        svg {
		            fill: #fff !important;
		            stroke: #fff !important;
		        }
		    }

		    &:focus-visible {
		        border: var(--width-line) solid var(--color-accent-l);
		    }
		}

        @media (hover: hover) and (pointer: fine) {

            &:not(._active) {
                &:hover {
                    .sidebar__caption {
                        color: var(--color-accent-s);
                        margin-left: 5px;
                    }

                    .sidebar__icon {
                        svg {
                            stroke: var(--color-accent-s) !important;
                            fill: var(--color-accent-s) !important;
                        }
                    }
                }
            }

            &:hover {
                text-decoration: none;
                background-size: 100% 100%;
            }
        }
    }

    &__icon {
        position: relative;
        display: grid;
		place-content: center;
        background-color: transparent;

		@media (min-width: 768px) {
			width: 30px;
		}

        @media (min-width: 768px) {
            margin-right: 20px;
        }

        @media (max-width: 449px) {
            svg {
                width: 22px;
                height: 22px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

	&__caption {
		font-size: var(--caption-font-size);
		font-weight: 400;
		color: var(--color-icon);
		white-space: nowrap;

		transition: color var(--trns),
			opacity var(--trns),
			margin-left var(--trns),
			visibility var(--trns);
	}
}
