.skeleton {
	position: absolute;
	z-index: 11;

	border-radius: var(--brs-s);
	overflow: hidden;

	background-color: var(--color-bg-skeleton);
	inset: 0;

	&:after {
		position: absolute;

		top: 0;
		left: 0;

		width: 15px;
		height: 100%;

		background-color: var(--color-bg-skeleton-item);
		box-shadow: 0 0 10px 10px var(--color-bg-skeleton-item);

		animation: shimmer 1.8s ease-in-out infinite;

		content: '';
	}

	&:not(._removing) {
		visibility: visible;
		opacity: 1;
	}

	&._removing {
		visibility: hidden;
		opacity: 0;

		transition: opacity var(--trns), visibility var(--trns);
	}
}

@keyframes shimmer {
	0% {
		left: calc(0% - 32px);
	}

	25% {
		left: calc(0% - 32px);
	}

	100% {
		left: calc(100% + 15px);
	}
}
