.switch {
	--track-size: calc(var(--thumb-size) * 2.5);

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: var(--color-text);
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	user-select: none;

	gap: 2ch;

	& > input {
		--thumb-position: 0%;
		appearance: none;

		display: grid;
		flex-shrink: 0;
		align-items: center;
		grid: [track] 1fr / [track] 1fr;
		padding: var(--track-padding);
		outline-offset: 5px;
		border-radius: var(--track-size);
		box-sizing: content-box;
		background: var(--color-track-inactive);
		transition: background-color var(--trns), border-color var(--trns);
		pointer-events: none;
		touch-action: pan-y;

		block-size: var(--thumb-size);
		inline-size: var(--track-size);

		&::before {
			--highlight-size: 0;
			content: '';

			grid-area: track;
			border-radius: 50%;
			box-shadow: 0 0 0 var(--highlight-size) var(--color-switch-highlight);
			background-color: var(--color-switch);
			transform: translateX(var(--thumb-position));
			transition: transform var(--trns), box-shadow var(--trns);
			cursor: pointer;
			pointer-events: auto;

			block-size: var(--thumb-size);
			inline-size: var(--thumb-size);
		}

		&:not(:disabled):hover::before {
			--highlight-size: 0.5rem;
		}

		&:checked {
			--thumb-position: calc((var(--track-size) - 100%));

			background: var(--color-track-active);
		}

		&:disabled {
			--thumb-color: transparent;

			cursor: not-allowed;

			&::before {
				box-shadow: inset 0 0 0 2px hsl(0, 0%, 100% / 0.5);
				cursor: not-allowed;
			}
		}
	}

	@media (min-width: 26.625em) {
		--thumb-size: 1rem;
		--track-padding: 4px;
	}

	@media (max-width: 26.5625em) {
		--thumb-size: 0.8rem;
		--track-padding: 3px;
	}
}
