.toast__list {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    row-gap: 15px;
    flex-direction: column;

    @media (min-width: 768px) {
        bottom: 30px;
    }

    @media (max-width: 768px) {
        top: 60px;
    }

    z-index: 1000;

    @media (max-width: 575px) {
        width: 100%;
    }
}

.toast__item {
    position: relative;
	display: flex;
    background-color: var(--color-bg-form);

    @media (min-width: 576px) {
        font-size: 20px;
    }

    @media (max-width: 575px) {
        font-size: 16px;
    }

    padding: 10px 20px;
    box-shadow: var(--box-shadow-m);

    @media (min-width: 576px) {
        border-radius: var(--brs-s);
    }

    &:not(._visible) {
        opacity: 0;
        visibility: hidden;

        animation: slide-out-blurred-right 0.4s var(--ease-in-back) both;

        transition: opacity 1.5s ease-out,
            visibility 1.5s ease-out;
    }

    &._visible {
        opacity: 1;
        visibility: visible;

        animation: slide-in-blurred-bottom 0.6s var(--ease-out-back) both;
    }

    &._error {
        color: var(--color-error);

        &:after {
            background-color: var(--color-error);
        }

		.toast__icon {
			background-color: var(--color-error);

			&:before,
			&:after {
			    content: '';
			    position: absolute;
			    height: 5px;
				left: 50%;
			    background-color: #fff;
			    border-radius: 10px;
			}

			&:before {
			    height: 45%;
				width: 5px;
			    top: 10%;
			    transform: translateX(-50%);
			}

			&:after {
				aspect-ratio: 1 / 1;
			    height: 15%;
			    top: 70%;
			    transform: translateX(-50%);
			}
		}
    }

    &._good {
        color: var(--color-good);

        &:after {
            background-color: var(--color-good);
        }

		.toast__icon {
			background-color: var(--color-good);

			&:before,
			&:after {
				content: '';
				position: absolute;
				height: 5px;
				background-color: #fff;
				border-radius: 10px;
			}

			&:before {
				width: 50%;
				top: 52%;
				left: 60%;
				transform: translate(-50%, -50%) rotate(-43deg);
			}
			&:after {
				width: 35%;
				top: 55%;
				left: 35%;
				transform: translate(-50%, -50%) rotate(40deg);
			}
		}
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 6px;

        @media (min-width: 576px) {
            border-top-left-radius: var(--brs-s);
            border-bottom-left-radius: var(--brs-s);
        }
    }
}

.toast__icon {
	position: relative;
	height: 30px;
	aspect-ratio: 1 / 1;

	border-radius: 50%;
	margin-right: 15px;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-10-9 4:42:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */

@keyframes slide-in-blurred-bottom {
    0% {
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 100%;
        // filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        // filter: blur(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slide-out-blurred-right
 * ----------------------------------------
 */
@keyframes slide-out-blurred-right {
    0% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }

    100% {
        transform: translateX(1000px) scaleX(2) scaleY(0.2);
        transform-origin: 0% 50%;
        filter: blur(40px);
        opacity: 0;
    }
}
