.video {

	.video-skeleton {
		border-radius: 0;
	}

	&._live {

		.controls__speed,
		.time__duration,
		.time__separator {
			display: none;
		}
	}
	// .video__wrapper

	&__wrapper {
		--header-height: 0;

		position: relative;

		display: grid;
		place-items: center;

		aspect-ratio: 16 / 9;
		margin: auto;
		overflow: hidden;

		background-color: var(--color-bg);
		box-shadow: var(--box-shadow-s);

		video {
			position: absolute;
			inset: 0;

			width: 100%;
			height: 100%;
			object-fit: contain;

			background-color: hsl(0, 0%, 0%);
		}

		@media (min-width: 78.1875em) {
			flex: 1 1 100%;
		}

		@media (min-width: 48em) {
			width: 80%;
			border-radius: var(--brs-l);
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {

				.video__poster img {
					transform: scale(1.05);
				}
			}
		}

		@media (max-width: 47.9375em) {
			width: 100%;

			&._fixed {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 99;

				width: 100%;
				margin-top: var(--header-height);
			}
		}
	}

	&__poster {
		position: absolute;
		inset: 0;

		z-index: 1;

		width: 100%;
		height: 100%;
		margin-bottom: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			transition: transform var(--trns), opacity var(--trns), visibility var(--trns);
		}

		&:not(._hidden) {

			img {
				transform: scale(1);
				visibility: visible;
				opacity: 1;
			}
		}

		&._hidden {

			img {
				transform: scale(3);
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}

.video-info {
	display: flex;

	.subscribe {
		@media (max-width: 30.625em) {
			width: 100%;
			margin-top: 15px;
			padding-block: 15px;
			border-radius: var(--brs-l);
		}
	}

	// .video-info__body

	&__body {
		width: 100%;
		margin-inline: auto;

		background-color: var(--color-bg-form);

		@media (min-width: 48em) {
			box-shadow: var(--box-shadow-s);
		}

		@media (max-width: 47.9375em) and (min-width: 31.3125em) {
			margin-top: 30px;
		}
	}

	&__item {
		display: grid;
		place-items: center;

		@media (min-width: 48em) {
			padding-inline: 40px;

			padding-top: 40px;

			transition: padding var(--trns);
		}
	}

	&__wrapper {
		display: grid;
		place-items: center;
	}

	// .video-info__shell

	&__shell {
		padding-block: 30px;

		background-color: var(--color-bg-form);

		@media (min-width: 78.1875em) {
			flex: 0 1 550px;
		}

		@media (min-width: 48em) {
			padding-inline: 30px;
		}

		@media (max-width: 47.9375em) {
			padding-inline: 15px;
		}
	}

	// .video-info__title

	&__title {
		position: relative;

		margin: 0;

		font-weight: 700;
		font-size: unquote('clamp(1.25rem, 1.0500rem + 1.0000vw, 2.25rem)');
	}

	// .video-info__details

	&__details {
		display: flex;
		flex-wrap: wrap;

		gap: 15px;

		color: var(--color-text);
		font-size: 1rem;
		line-height: 22px / 16px * 100%;

		@media (min-width: 71.9375em) {
			align-items: center;
		}

		@media (min-width: 48em) {
			margin-top: 25px;
		}

		@media (max-width: 47.9375em) and (min-width: 20em) {
			margin-top: 15px;
		}
	}

	&__part {
		position: relative;

		display: flex;
		align-items: center;
		padding: 5px 15px;
		border-radius: var(--brs-m);
		overflow: hidden;

		background-color: var(--color-bg);

		span:not(:empty) {
			margin-left: 10px;
		}
	}

	// .video-info__about

	&__about {
		--middle-val-mt: calc(25px + (50 - 25) * ((100vw - 320px) / (767 - 320)));

		display: flex;
		justify-content: space-between;
		margin-top: clamp(25px, var(--middle-val-mt), 50px);

		column-gap: 15px;

		@media (max-width: 34.375em) {
			flex-direction: column;

			row-gap: 10px;
		}
	}

	@media (min-width: 48em) {
		margin-top: 40px;
	}

	@media (max-width: 78.125em) {
		flex-direction: column;
	}

	@media (max-width: 31.25em) {
		padding: 0;
	}
}

.controls {
	position: absolute;
	inset: 0;

	z-index: 10;

	width: 100%;
	height: 100%;

	background-color: transparent;

	.dropdown__head {
		align-items: center;

		font-weight: 500;
	}

	button:not(.dropdown__btn) {
		@media (hover: hover) and (pointer: fine) {

			&:focus {
				background-color: var(--color-accent-s);
			}
		}
	}

	&__bar {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;

		width: 100%;
		padding-inline: 10px;

		background-color: transparent;
		cursor: unset;

		transition: transform var(--trns-slow) var(--trns-time-default);

		&:not(._opened) {
			transform: translateY(100%);

			transition: transform var(--trns-slow) var(--trns-time-default);

			.controls__wrapper {
				visibility: hidden;
				opacity: 0;

				transition: opacity var(--trns) 0.3s, visibility var(--trns) 0.3s;
			}
		}

		&._opened {
			transform: translateY(0);

			transition: transform var(--trns);

			.controls__wrapper {
				visibility: visible;
				opacity: 1;

				transition: opacity var(--trns), visibility var(--trns);
			}
		}

		@media (min-width: 31.3125em) {
			height: 60px;
		}

		@media (max-width: 31.25em) {
			height: 35px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__right {
		display: flex;
		margin-left: auto;
	}

	&__switch {
		margin-right: 10px;

		cursor: pointer;
	}

	&__switch,
	&__volume,
	&__screen {
		@media (min-width: 31.3125em) {
			padding: 10px;
		}

		@media (max-width: 31.25em) {
			padding: 5px;
		}
	}

	&__switch,
	&__volume,
	&__screen,
	&__quality,
	&__speed {
		display: flex;
		border-radius: var(--brs-s);

		transition: transform var(--trns), background-color var(--trns), color var(--trns);

		svg {
			fill: hsl(0, 0%, 100%) !important;
		}

		@media (max-width: 31.25em) {

			svg {
				width: 14px;
				height: 13px;
			}
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {
				background-color: var(--color-accent-s);
			}
		}
	}

	&__screen {
		margin-left: 10px;
	}

	&__quality,
	&__speed {
		margin-left: 10px;

		color: hsl(0, 0%, 100%);
	}

	&__speed {
		min-width: 45px;

		cursor: pointer;
	}

	&__sponsorblock {
		position: relative;

		margin-inline: 10px;
		padding-inline: 10px;

		border-radius: var(--brs-s);

		transition: background-color var(--trns);

		&._record {
			background-color: rgb(60, 255, 148);
		}

		@media (hover: hover) and (pointer: fine) {

			&:not(._record):hover {
				background-color: var(--color-accent-s);
			}
		}
	}
}

.time {
	color: hsl(0, 0%, 100%);

	@media (max-width: 31.25em) {
		font-size: 0.875rem;
	}
}

.progress {
	--buffered: 0;
	--progress: 0;

	position: absolute;
	top: 0;
	left: 50%;

	width: calc(100% - 40px);
	height: 7px;
	border: 0;
	border-radius: var(--brs-m);

	background-color: var(--color-icon);
	transform: translateY(-100%) translateX(-50%);
	cursor: pointer;

	transition: height var(--trns);

	&:hover {
		height: 30px;

		.progress__seek-tooltip,
		.progress__storyboard {
			opacity: 1;
		}

		.progress__seek::-webkit-slider-thumb {
			height: 100%;
		}
	}

	&__sponsorblock {
		position: absolute;
		inset: 0;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-m);
		overflow: hidden;
	}

	&__bar {
		position: absolute;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-m);
		overflow: hidden;

		&::before,
		&::after {
			position: absolute;
			top: 0;
			left: 0;

			height: 100%;

			transition: width var(--trns);

			content: '';
		}

		&::before {
			width: var(--buffered);

			background-color: var(--color-buffered);
		}

		&::after {
			width: var(--progress);

			background-color: var(--color-accent-s);
		}
	}

	&__storyboard {
		--url: none;
		--posX: 0;
		--posY: 0;
		position: absolute;
		top: 0;
		left: 100px;
		z-index: -1;

		width: 160px;
		height: 90px;
		border-radius: var(--brs-s);

		background-image: var(--url);
		background-repeat: no-repeat;
		background-position: var(--posX) var(--posY);
		background-size: 1000%;
		box-shadow: var(--box-shadow-m);
		transform: translateY(-100%) translateX(-50%);
		opacity: 0;

		transition: opacity var(--trns);

		content: '';
	}
}

.bar {
	background-color: var(--color-icon);

	&::-webkit-progress-bar {
		border: 0;

		background-color: var(--color-icon);
	}
}

.seek,
.bar {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;
	border-radius: var(--brs-m);
	overflow: hidden;
}

.seek {
	z-index: 10;

	padding: 0;
	border: 0;

	outline-offset: 0;
	cursor: pointer;

	appearance: none;

	&::-webkit-slider-thumb {
		width: 2px;
		height: 100%;
		border: 0;

		background-color: hsl(0, 0%, 100%);
		cursor: pointer;

		transition: height var(--trns);
	}

	&::-webkit-slider-runnable-track {
		border: 0;

		opacity: 0;
	}
}

.seek-tooltip {
	position: absolute;
	top: 0;
	left: 100px;

	padding: 2px 10px;
	border-top-left-radius: var(--brs-m);
	border-top-right-radius: var(--brs-m);

	color: hsl(0, 0%, 100%);
	font-size: 0.875rem;
	letter-spacing: 0.8px;

	background-color: var(--color-bg-duration);
	transform: translateY(-100%) translateX(-50%);
	opacity: 0;

	transition: opacity var(--trns);
}

.volume {
	position: relative;
	z-index: 20;

	align-items: center;

	cursor: pointer;

	svg {
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;

			width: 100%;
			border-radius: var(--brs-s);

			background-color: hsl(0, 0%, 100%);
			transform: translateY(-50%) rotate(45deg);
			opacity: 0;

			transition: opacity var(--trns);

			content: '';

			@media (min-width: 31.3125em) {
				height: 5px;
			}

			@media (max-width: 31.25em) {
				height: 4px;
			}
		}
	}

	&:hover {

		.volume__range {
			width: 100px;

			transition: transform var(--trns), width var(--trns);
		}
	}

	&__range {
		position: relative;

		width: 0;
		height: 7px;
		margin-left: 10px;
		border-radius: var(--brs-s);

		background-color: var(--color-icon);

		transition: transform var(--trns-time-slow) var(--trns-time-default),
			width var(--trns-time-slow) var(--trns-time-default);
	}

	&__bar {

		&::-webkit-progress-value {
			border: 0;

			background-color: hsl(0, 0%, 100%);
		}
	}

	@media (min-width: 31.3125em) {
		margin-right: 15px;
	}

	@media (max-width: 31.25em) {
		margin-right: 10px;
	}
}

.sponsorblock {

	&__item {
		--width: 0;
		--left: 0;

		position: absolute;
		top: 0;
		left: var(--left);

		width: var(--width);
		height: 100%;

		background-color: hsl(152, 100%, 42%);
	}
}

.timecode {
	width: 100px;
	padding: 5px 10px;
	border-radius: var(--brs-s);

	color: var(--color-title);

	background-color: var(--color-bg-btn);

	transition: background-color var(--trns), border-color var(--trns), color var(--trns);

	&:not(:first-child) {
		margin-top: 5px;
	}

	&:not(:last-child) {
		margin-bottom: 5px;
	}

	@media (hover: hover) and (pointer: fine) {

		&:hover {
			color: var(--color-bg-btn);

			background-color: var(--color-title);
		}
	}
}

.decorations {
	position: absolute;
	inset: 0;

	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;

	background-color: transparent;
	cursor: pointer;

	&__item {
		position: absolute;

		display: grid;

		place-items: center;
		width: 150px;
		height: 150px;
		border-radius: var(--brs-xl);

		background-color: var(--color-bg-duration);

		& > svg {
			position: relative;
			z-index: 1;

			fill: hsl(0, 0%, 100%) !important;
		}

		&:not(._active),
		&:not(._active) > svg {
			transform: scale(1);
			opacity: 0;

			transition: transform 0.3s var(--ease-in-sine), opacity 0.3s var(--ease-in-sine);
		}

		&._active,
		&._active > svg {
			transform: scale(1.1);
			opacity: 1;

			transition: transform 0.3s var(--ease-out-sine), opacity 0.3s var(--ease-out-sine);
		}
	}
}

.top-bar {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	margin-inline: auto;
	padding-block: 30px;
	padding-inline: 20px;

	background-image: linear-gradient(
		0deg,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.2) 25%,
		hsla(0, 0%, 0%, 0.5) 50%,
		hsla(0, 0%, 0%, 0.6) 75%,
		hsla(0, 0%, 0%, 0.75) 100%
	);

	&:not(._opened) {
		opacity: 0;

		transition: opacity var(--trns-slow) var(--trns-time-default);
	}

	&._opened {
		opacity: 1;

		transition: opacity var(--trns);
	}

	&__title {
		display: -webkit-box;
		overflow: hidden;

		color: hsl(0, 0%, 100%);
		font-size: 1.5rem;

		opacity: 0.8;

		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	&__author {
		color: hsl(0, 0%, 100%);

		opacity: 0.4;
	}
}
