.channel {

    .card__channel {
        display: none;
    }

    // .channel__banner

    &__banner {
        --middle-val-height: calc(120px + (280 - 120) * ((100vw - 320px) / (1200 - 320)));
        --bg-image: none;

        position: relative;
        margin-bottom: 0;
        width: 100%;

        background: var(--bg-image) center;

        height: clamp(120px, var(--middle-val-height), 280px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-skeleton {
        border-radius: 0;
    }
}

.heading-channel {
    position: relative;
    display: flex;
    padding: 20px;

    background-color: var(--color-bg-form);

    // .heading-channel__wrapper

    &__wrapper {
        display: flex;
        width: 100%;

        @media (min-width: 68.8125em) {
            flex-direction: column;
        }

        @media (max-width: 68.75em) {
            justify-content: center;
        }

        @media (min-width: 34.4375em) {
            margin-top: 45px;
        }

        @media (max-width: 34.375em) {
            flex-direction: column;
            margin-top: 25px;
        }
    }

    // .heading-channel__avatar

    &__avatar {
        z-index: 11;
        border-radius: 50%;
        box-shadow: var(--box-shadow-m);
        overflow: hidden;
        margin-bottom: 0;

        @media (min-width: 68.8125em) {
            position: absolute;
            top: -110px;
            left: 50%;
            transform: translateX(-50%);
            width: 170px;

            transition: box-shadow var(--trns);

            @media (hover: hover) and (pointer: fine) {
				&:hover {
					box-shadow: 0 0 0 0 transparent;

					transition: box-shadow var(--trns-fast);
                    img {
						transform: rotateX(90deg) perspective(100px);
                    }
                }
            }
        }

        @media (max-width: 68.75em) {
            position: relative;
        }

        @media (min-width: 34.4375em) {
            flex: 0 0 170px;
            height: 170px;
        }

        @media (max-width: 34.375em) {
            flex: 0 0 130px;
            width: 130px;
            margin: auto;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 10px solid var(--color-bg);
            object-fit: cover;
            transform: rotateX(0deg) perspective(100px);

            transition: transform var(--trns);
        }
    }

    // .heading-channel__info

    &__info {
        display: inline-flex;
        flex-direction: column;

        @media (min-width: 68.8125em) {
            text-align: center;
            align-items: center;
        }

        @media (max-width: 68.75em) and (min-width: 34.4375em) {
            margin-left: 40px;
            text-align: right;
            align-items: flex-end;
        }

        @media (max-width: 34.375em) {
            align-items: center;
            text-align: center;
            margin-top: 20px;
        }
    }

    &__author,
    &__followers {
        position: relative;
        overflow: hidden;
        min-width: 11ch;
    }

    &__author {
        font-size: unquote("clamp(1.25rem, 1.0500rem + 1.0000vw, 2.25rem)");
    }

    // .heading-channel__followers

    &__followers {
        font-size: 1rem;
        line-height: 16px / 13px * 100%;
        color: var(--color-text);
        margin-bottom: 1rem;

        transition: color var(--trns);
    }

    // .heading-channel__btns

    &__btns {
        display: flex;
        align-items: center;
    }
}

.body-channel {

    display: flex;
    justify-content: space-between;

    @media (min-width: 48em) {
        margin-top: 20px;
    }

    @media (max-width: 47.9375em) {
        margin-top: 30px;
    }

    // .body-channel__left

    &__left {
        width: 100%;
    }

    // .body-channel__nav

    &__nav {
        position: relative;
        background-color: var(--color-bg-form);
        padding-block: 10px;
        display: flex;

        .search {
            margin-top: 15px;
            max-width: 450px;
        }

        @media (max-width: 29.375em) {
            .search {
                width: 95%;
            }
        }
    }

    // .body-channel__list

    &__list {
        display: flex;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        margin: auto;
    }

    // .body-channel__item

    &__item {
        position: relative;
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-left: 10px;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    // .body-channel__tab

    &__tab {
        position: relative;
        z-index: 1;
        border-radius: var(--brs-m);
        background-color: transparent;
        font-size: 1.25rem;
        line-height: 23px / 18px * 100%;

        padding: 10px 25px;

        transition: color var(--trns),
            border-color var(--trns);

        &:not(._active) {
            color: var(--color-icon);

            &:before,
            &:after {
                width: 0%;
            }
        }

        &._active {
            color: var(--color-accent-s);

            &:before,
            &:after {
                width: 100%;
            }
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--color-accent-s);
            }
        }


        &:after,
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 3px;
            border-radius: var(--brs-s);
            background-color: var(--color-accent-s);
            transition: width var(--trns);
        }

        &:after {
            left: 50%;
            transform: translateX(-50%);
        }

        &:before {
            right: 50%;
            transform: translateX(50%);
        }
    }
}

.tab-content:not(._active) {
    display: none;
}

.tab-content._active {
    display: block;
}

.about {
    background-color: var(--color-bg-form);
    padding: 30px 20px;

    @media (min-width: 28.125em) {
        border-radius: var(--brs-m);
    }

    &__description {
        margin: 0;
        color: var(--color-text);
        max-width: 85ch;
        width: 100%;

        border-left: 3px solid;
        padding-left: 15px;
    }
}
