<section class="shortcuts outter-container win">
	<h2 class="win__title title">Shortcuts</h2>
	<dl class="shortcuts__list">
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Ctrl</button>
				<small> + </small>
				<button class="keyboard-btn">F</button>
			</dt>
			<dd class="shortcuts__cell">Focus search field</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Ctrl</button>
				<small> + </small>
				<button class="keyboard-btn">B</button>
			</dt>
			<dd class="shortcuts__cell">Open / close menu</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Ctrl</button>
				<small> + </small>
				<button class="keyboard-btn">R</button>
			</dt>
			<dd class="shortcuts__cell">Refresh app</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Ctrl</button>
				<small> + </small>
				<button class="keyboard-btn">Alt</button>
				<small> + </small>
				<button class="keyboard-btn">Y</button>
			</dt>
			<dd class="shortcuts__cell">Global shortcut to show window of the app</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Esc</button>
			</dt>
			<dd class="shortcuts__cell">
				Focus first card if there're cards otherwise blur focused element
			</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Shift</button>
				<small> + </small>
				<button class="keyboard-btn">J</button>
			</dt>
			<dd class="shortcuts__cell">Open previous page</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Shift</button>
				<small> + </small>
				<button class="keyboard-btn">K</button>
			</dt>
			<dd class="shortcuts__cell">Open next page</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Enter / Space</button>
			</dt>
			<dd class="shortcuts__cell">Play / pause video</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">M</button>
			</dt>
			<dd class="shortcuts__cell">Toggle mute</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">F</button>
			</dt>
			<dd class="shortcuts__cell">Toggle fullscreen</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">S</button>
			</dt>
			<dd class="shortcuts__cell">Start / stop sponsorblock segment recording</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">V</button>
			</dt>
			<dd class="shortcuts__cell">Don't skip sponsorblock segments of current video</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Right arrow</button>
			</dt>
			<dd class="shortcuts__cell">Forward 10 seconds</dd>
		</div>
		<div class="shortcuts__row">
			<dt class="shortcuts__cell">
				<button class="keyboard-btn">Left arrow</button>
			</dt>
			<dd class="shortcuts__cell">Backward 10 seconds</dd>
		</div>
	</dl>
</section>
