<section class="video__info video-info">
	<div class="video-info__body">
		<div class="video-info__shell">
			<h1 class="video-info__title title">
				<div class="skeleton title-skeleton"></div>
				<span>...</span>
			</h1>
			<div class="video-info__details">
				<aside class="video-info__part">
					<div class="skeleton part-skeleton"></div>
					<svg width="26px" height="17px">
						<use xlink:href="img/svg/actions.svg#views"></use>
					</svg>
					<span class="video-info__views">...</span>
				</aside>
				<aside class="video-info__part">
					<div class="skeleton part-skeleton"></div>
					<svg width="26px" height="20px">
						<use xlink:href="img/svg/actions.svg#date"></use>
					</svg>
					<span class="video-info__date">...</span>
				</aside>
				<aside class="video-info__part">
					<div class="skeleton part-skeleton"></div>
					<svg stroke-width="0" width="20px" height="20px">
						<use xlink:href="img/svg/actions.svg#like"></use>
					</svg>
					<span class="video-info__likes">...</span>
				</aside>
				<aside class="video-info__part">
					<div class="skeleton part-skeleton"></div>
					<svg stroke-width="0" width="20px" height="20px">
						<use xlink:href="img/svg/actions.svg#dislike"></use>
					</svg>
					<span class="video-info__dislikes">...</span>
				</aside>
			</div>
			<div class="video-info__about">
				@include('author-card.html')
				<div class="video-info__wrapper">@include('subscribe.html')</div>
			</div>
		</div>
		@include('spoiler.html')
	</div>
</section>
