.decorations {
	position: absolute;
	inset: 0;

	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;

	background-color: transparent;
	cursor: pointer;

	&__item {
		position: absolute;

		display: grid;

		place-items: center;
		width: 100px;
		height: 100px;
		border-radius: var(--brs-xl);

		& > svg {
			position: relative;
			z-index: 1;

			fill: hsl(0, 0%, 100%);
		}

		&:not(._active),
		&:not(._active) > svg {
			transform: scale(1);
			opacity: 0;

			transition:
				transform 0.3s var(--ease-in-sine),
				opacity 0.3s var(--ease-in-sine);
		}

		&._active,
		&._active > svg {
			transform: scale(1.25);
			opacity: 1;

			transition:
				transform 0.3s var(--ease-out-sine),
				opacity 0.3s var(--ease-out-sine);
		}
	}
}
