<div class="controls__decorations decorations">
	<aside class="decorations__item" id="play">
		<svg width="45px" height="45px">
			<use xlink:href="img/svg/controls.svg#play"></use>
		</svg>
	</aside>
	<aside class="decorations__item" id="pause">
		<svg width="45px" height="45px">
			<use xlink:href="img/svg/controls.svg#pause"></use>
		</svg>
	</aside>
	<aside class="decorations__item" id="load">
		<svg viewBox="0 0 50 50" class="spinner">
			<circle class="ring" cx="25" cy="25" r="22.5" />
			<circle class="line" cx="25" cy="25" r="22.5" />
		</svg>
	</aside>
</div>
