.controls {
	position: absolute;
	inset: 0;

	z-index: 10;

	width: 100%;
	height: 100%;

	background-color: transparent;

	.dropdown__head {
		align-items: center;

		font-weight: 500;
	}

	button:not(.dropdown__btn) {
		@media (hover: hover) and (pointer: fine) {

			&:focus {
				background-color: var(--color-accent-s);
			}
		}
	}

	.dropdown {
		margin-left: 10px;

		color: hsl(0, 0%, 100%);
	}

	&__bar {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;

		width: 100%;
		padding-inline: 10px;

		background-color: transparent;
		cursor: unset;

		transition: transform var(--trns-slow) var(--trns-time-default);

		&:not(._opened) {
			transform: translateY(100%);

			transition: transform var(--trns-slow) var(--trns-time-default);

			.progress {
				height: 4px;
			}

			.controls__wrapper {
				visibility: hidden;
				opacity: 0;

				transition: opacity var(--trns) 0.3s, visibility var(--trns) 0.3s;
			}
		}

		&._opened {
			transform: translateY(0);

			transition: transform var(--trns);

			.progress {
				height: 7px;
			}

			.controls__wrapper {
				visibility: visible;
				opacity: 1;

				transition: opacity var(--trns), visibility var(--trns);
			}
		}

		@media (min-width: 31.3125em) {
			height: 60px;
		}

		@media (max-width: 31.25em) {
			height: 35px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__right {
		display: flex;
		margin-left: auto;
	}

	&__switch {
		margin-right: 10px;

		cursor: pointer;
	}

	&__switch,
	&__volume,
	&__screen {
		@media (min-width: 31.3125em) {
			padding: 10px;
		}

		@media (max-width: 31.25em) {
			padding: 5px;
		}
	}

	&__switch,
	&__volume,
	&__screen,
	.dropdown, {
		display: flex;
		border-radius: var(--brs-s);

		transition: transform var(--trns), background-color var(--trns), color var(--trns);

		svg {
			fill: hsl(0, 0%, 100%) !important;
		}

		@media (max-width: 31.25em) {

			svg {
				width: 14px;
				height: 13px;
			}
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {
				background-color: var(--color-accent-s);
			}
		}
	}

	&__screen {
		margin-left: 10px;
	}

	&__speed {
		min-width: 45px;

		cursor: pointer;
	}

	&__sponsorblock {
		position: relative;

		margin-inline: 10px;
		padding-inline: 10px;

		border-radius: var(--brs-s);

		transition: background-color var(--trns);

		&._record {
			background-color: rgb(60, 255, 148);
		}

		@media (hover: hover) and (pointer: fine) {

			&:not(._record):hover {
				background-color: var(--color-accent-s);
			}
		}
	}
}

.time {
	color: hsl(0, 0%, 100%);

	@media (max-width: 31.25em) {
		font-size: 0.875rem;
	}
}

.progress {
	--buffered: 0;
	--progress: 0;

	position: absolute;
	top: 0;
	left: 50%;

	width: calc(100% - 40px);
	border: 0;
	border-radius: var(--brs-s);

	background-color: var(--color-icon);
	transform: translateY(-100%) translateX(-50%);
	cursor: pointer;

	transition: height var(--trns);

	&:hover {
		height: 30px !important;

		.progress__seek-tooltip,
		.progress__storyboard {
			visibility: visible;
			opacity: 1;
		}

		.progress__seek::-webkit-slider-thumb {
			height: 100%;
		}
	}

	&__sponsorblock {
		position: absolute;
		inset: 0;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-s);
		overflow: hidden;
	}

	&__bar {
		position: absolute;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-s);
		overflow: hidden;

		&::before,
		&::after {
			position: absolute;
			top: 0;
			left: 0;

			height: 100%;

			transition: width var(--trns);

			content: '';
		}

		&::before {
			width: var(--buffered);

			background-color: var(--color-buffered);
		}

		&::after {
			width: var(--progress);

			background-color: var(--color-accent-s);
		}
	}

	&__storyboard {
		--url: none;
		--posX: 0;
		--posY: 0;
		position: absolute;
		top: 0;
		left: 100px;
		z-index: -1;

		width: 160px;
		height: 90px;
		border-radius: var(--brs-s);

		background-image: var(--url);
		background-repeat: no-repeat;
		background-position: var(--posX) var(--posY);
		background-size: 1000%;
		box-shadow: var(--box-shadow-m);
		transform: translateY(-100%) translateX(-50%);
		visibility: hidden;
		opacity: 0;

		transition: opacity var(--trns);

		content: '';
	}
}

.bar {
	background-color: var(--color-icon);

	&::-webkit-progress-bar {
		border: 0;

		background-color: var(--color-icon);
	}
}

.seek,
.bar {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;
	border-radius: var(--brs-s);
	overflow: hidden;
}

.seek {
	z-index: 10;

	padding: 0;
	border: 0;

	outline-offset: 0;
	cursor: pointer;

	appearance: none;

	&::-webkit-slider-thumb {
		width: 2px;
		height: 100%;
		border: 0;

		background-color: hsl(0, 0%, 100%);
		cursor: pointer;

		transition: height var(--trns);
	}

	&::-webkit-slider-runnable-track {
		border: 0;

		opacity: 0;
	}
}

.seek-tooltip {
	position: absolute;
	top: 0;
	left: 100px;

	padding: 2px 10px;
	border-top-left-radius: var(--brs-m);
	border-top-right-radius: var(--brs-m);

	color: hsl(0, 0%, 100%);
	font-size: 0.875rem;
	letter-spacing: 0.8px;

	background-color: var(--color-bg-duration);
	transform: translateY(-100%) translateX(-50%);
	visibility: hidden;
	opacity: 0;

	transition: opacity var(--trns);
}

.volume {
	position: relative;
	z-index: 20;

	align-items: center;

	cursor: pointer;

	svg {
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;

			width: 100%;
			border-radius: var(--brs-s);

			background-color: hsl(0, 0%, 100%);
			transform: translateY(-50%) rotate(45deg);
			opacity: 0;

			transition: opacity var(--trns);

			content: '';

			@media (min-width: 31.3125em) {
				height: 5px;
			}

			@media (max-width: 31.25em) {
				height: 4px;
			}
		}
	}

	&:hover {

		.volume__range {
			width: 100px;

			transition: transform var(--trns), width var(--trns);
		}
	}

	&__range {
		position: relative;

		width: 0;
		height: 7px;
		margin-left: 10px;
		border-radius: var(--brs-s);

		background-color: var(--color-icon);

		transition:
			transform var(--trns-time-slow) var(--trns-time-default),
			width var(--trns-time-slow) var(--trns-time-default);
	}

	&__bar {

		&::-webkit-progress-value {
			border: 0;

			background-color: hsl(0, 0%, 100%);
		}
	}

	@media (min-width: 31.3125em) {
		margin-right: 15px;
	}

	@media (max-width: 31.25em) {
		margin-right: 10px;
	}
}

.sponsorblock {

	&__item {
		--width: 0;
		--left: 0;

		position: absolute;
		top: 0;
		left: var(--left);

		width: var(--width);
		height: 100%;

		background-color: hsl(152, 100%, 42%);
	}
}
