.skeleton {
	position: absolute;
	inset: 0;
	z-index: 11;

	border-radius: var(--brs-s);
	overflow: hidden;

	background-color: var(--color-bg-skeleton);

	transition:
		opacity var(--trns-fast),
		background-color var(--trns);

	will-change: opacity;

	&:after {
		position: absolute;

		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background: linear-gradient(90deg, transparent 0%, var(--color-bg-skeleton-item) 50%, transparent 100%);

		animation: shimmer 1.8s ease-in-out infinite;

		content: '';

		will-change: transform;
	}
}

@keyframes shimmer {

	0% {
		transform: translateX(-100%);
	}

	25% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(200%);
	}
}
