.progress {
	--buffered: 0;
	--progress: 0;

	position: absolute;
	top: 0;
	left: 50%;

	display: flex;
	gap: 15px;
	align-items: center;
	width: 100%;
	padding-inline: 15px;
	border: 0;
	border-radius: var(--brs-s);

	transform:
		translateY(-100%)
		translateX(-50%);

	&:before {
		left: 15px;

		content: attr(data-time-elapsed);
	}

	&:before,
	&:after {
		position: absolute;
		top: 0;

		color: hsl(0, 0%, 100%);

		transform: translateY(-150%);

		@media (max-width: 31.25em) {
			font-size: 0.875rem;
		}
	}

	&:after {
		right: 15px;

		content: attr(data-time-duration);
	}

	&__sponsorblock {
		position: absolute;
		inset: 0;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-s);
		overflow: hidden;
	}

	&__bar {
		position: relative;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-s);

		background: linear-gradient(90deg, var(--color-accent-s) var(--progress), var(--color-buffered) var(--progress), var(--color-buffered) var(--buffered), hsla(223, 4, 50, 0.5) var(--buffered));

		transition: height var(--trns-fast);

		@media (hover: hover) and (pointer: fine) {

			&:hover {
				height: 15px;

				.progress__seek::-webkit-slider-thumb {
					height: 100%;
				}

				.progress__seek-tooltip {
					opacity: 1;

					transition: opacity var(--trns);
				}
			}
		}
	}

	&__chapters {
		position: absolute;
		inset: 0;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-s);
		overflow: hidden;

		opacity: 0.5;
	}

	&__chapter {
		--left: 0%;
		position: absolute;
		top: 50%;
		left: var(--left);

		width: 3px;

		height: 100%;

		background-color: var(--color-bg-chapter);

		transform: translateY(-50%);
	}
}

.seek-tooltip {
	--left: 0%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	display: flex;
	width: 100%;

	color: hsl(0, 0%, 100%);
	font-size: 0.85rem;
	letter-spacing: 0.8px;

	transform: translateY(-105%);
	opacity: 0;

	transition: opacity var(--trns-time-fast) linear 1s;

	pointer-events: none;

	&__chapter,
	&__container:before {
		padding: 2px 10px;
		border-radius: var(--brs-m);

		background-color: var(--color-bg-duration);
	}

	&__storyboard {
		--url: none;
		--posX: 0;
		--posY: 0;
		z-index: -1;

		width: 160px;
		height: 90px;

		border-radius: var(--brs-s);

		background-image: var(--url);
		background-repeat: no-repeat;
		background-position: var(--posX) var(--posY);
		background-size: 1000%;
	}

	&__container {
		--limit: 13ch;

		position: relative;
		top: 0;
		left: clamp(var(--limit), var(--left), calc(100% - var(--limit)));

		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: center;

		transform: translateX(-50%);

		&:before {
			order: 2;

			content: attr(data-time);
		}
	}

	&__chapter {
		order: 3;
		max-width: 25ch;
		margin: 0;
		overflow: hidden;

		line-height: 2;
		white-space: nowrap;

		text-align: center;
		text-overflow: ellipsis;

		&:empty {
			display: none;
		}
	}
}
