<div class="controls__progress progress">
	<time class="progress__time progress__time_elapsed">00:00</time>
	<div class="progress__bar">
		<input class="progress__seek seek" value="0" min="0" type="range" step="1" />
		<ul class="progress__sponsorblock sponsorblock list-reset"></ul>
		<ul class="progress__chapters list-reset"></ul>
		<div class="progress__seek-tooltip seek-tooltip">
			<div class="seek-tooltip__container">
				<div class="seek-tooltip__storyboard"></div>
				<time class="seek-tooltip__time">00:00</time>
				<p class="seek-tooltip__chapter"></p>
			</div>
		</div>
	</div>
	<time class="progress__time progress__time_duration">00:00</time>
</div>
