.tabs {

	&__content {
		@media (min-width: 48em) {
			margin-top: 20px;
		}

		@media (max-width: 47.9375em) {
			margin-top: 30px;
		}
	}

	&__list {
		position: relative;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		background-color: var(--color-bg-third);
	}

	&__item {
		position: relative;

		display: flex;
		align-items: center;

		&:not(:first-child) {
			margin-left: 10px;
		}

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__btn {
		position: relative;
		z-index: 1;

		padding: 25px;
		border-radius: var(--brs-m);

		font-size: 1.25rem;
		line-height: 23px / 18px * 100%;

		background-color: transparent;

		transition:
			color var(--trns),
			border-color var(--trns);

		&:not(._active) {
			color: var(--color-icon);

			&::before,
			&::after {
				width: 0%;
			}
		}

		&::after,
		&::before {
			position: absolute;
			bottom: 0;

			height: 3px;
			border-radius: var(--brs-s);

			background-color: var(--color-accent-s);

			transition: width var(--trns);

			content: '';
		}

		&::after {
			left: 50%;

			transform: translateX(-50%);
		}

		&::before {
			right: 50%;

			transform: translateX(50%);
		}

		&._active {
			color: var(--color-accent-s);

			&::before,
			&::after {
				width: 100%;
			}
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {
				color: var(--color-accent-s);
			}
		}
	}

	&__panel:not(._active) {
		display: none;
	}

	&__panel._active {
		display: block;
	}
}
