<div class="tabs">
	<ul class="tabs__list list-reset">
		<li class="tabs__item">
			<button data-tab="Videos" class="tabs__btn btn-reset">Videos</button>
		</li>
		<li class="tabs__item">
			<button data-tab="Playlists" class="tabs__btn btn-reset">Playlists</button>
		</li>
		<li class="tabs__item">
			<button data-tab="About" class="tabs__btn btn-reset">About</button>
		</li>
	</ul>
	<div class="tabs__content outter-container">
		<div data-tab="Videos" class="videos tabs__panel">
			<section class="main__grid grid">@include('../grid/grid-video.html')</section>
		</div>
		<div data-tab="Playlists" class="playlists tabs__panel">
			<section class="main__grid grid">@include('../grid/grid-playlist.html')</section>
		</div>
		<div data-tab="About" class="about tabs__panel">
			<p class="about__description">No information...</p>
		</div>
	</div>
</div>
