<nav class="body-channel__nav">
	<ul class="body-channel__list list-reset">
		<li class="body-channel__item">
			<button data-tab="Videos" class="body-channel__tab btn-reset">Videos</button>
		</li>
		<li class="body-channel__item">
			<button data-tab="Playlists" class="body-channel__tab btn-reset">Playlists</button>
		</li>
		<li class="body-channel__item">
			<button data-tab="About" class="body-channel__tab btn-reset">About</button>
		</li>
	</ul>
</nav>
<div class="channel__wrapper outter-container">
	<div class="channel__body body-channel">
		<div class="body-channel__left">
			<div data-tab="Videos" class="body-channel__videos videos tab-content">
				<section class="main__grid grid">@include('../grid/grid-video.html')</section>
			</div>
			<div data-tab="Playlists" class="body-channel__playlists playlists tab-content">
				<section class="main__grid grid">@include('../grid/grid-playlist.html')</section>
			</div>
			<div data-tab="About" class="body-channel__playlists about tab-content">
				<p class="about__description">No information...</p>
			</div>
		</div>
	</div>
</div>
