.settings {

	&__list {
		width: 100%;
		max-width: 900px;

		@media (min-width: 48em) {
			margin-inline: auto;
		}

		@media (max-width: 47.9375em) {
			margin: 30px auto;
		}

		@media (min-width: 36em) {
			padding-inline: 15px;
		}
	}

	&__item {

		&:not(:first-child) {
			margin-top: 30px;
		}
	}
}

.section-settings {
	background-color: var(--color-bg-form);

	transition: background-color var(--trns);

	&__title {
		color: var(--color-title);
		font-weight: 500;

		font-size: unquote('clamp(1.25rem, 1.1250rem + 0.6250vw, 1.875rem)');

		transition: color var(--trns);

		@media (max-width: 47.9375em) and (min-width: 20em) {
			display: flex;
			align-items: center;
		}
	}

	&__list,
	&__body {
		margin-top: 15px;

		@media (min-width: 48em) {
			padding: 15px;
		}

		@media (max-width: 47.9375em) {
			padding-bottom: 15px;
		}
	}

	&__item {
		position: relative;

		&:before,
		&:after {
			position: absolute;
			left: 0;

			width: 100%;
			height: 1px;

			background-color: var(--color-descr);
			opacity: 0.1;

			content: '';
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}

		.mini-input {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;

			input[type='text'] {
				width: unset;
				padding: 7px 10px;
				border-radius: var(--brs-m);
			}

			@media (min-width: 34.375em) {
				align-items: center;
			}

			@media (max-width: 34.3125em) {
				flex-direction: column;
				align-items: start;

				input[type='text'] {
					width: 100%;
				}
			}
		}

		&:first-child {

			&:before {
				height: 1.5px;
			}
		}

		&:last-child {

			&:after {
				height: 2px;
			}
		}
	}

	@media (min-width: 36em) {
		padding: 25px;
	}

	@media (min-width: 28.125em) {
		border-radius: var(--brs-m);
	}

	@media (max-width: 35.9375em) {
		padding: 25px 15px;
	}
}

.option {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.dropdown__head {
		color: var(--color-descr);
	}

	.dropdown {
		padding-block: 5px;
	}

	label {
		gap: 15px;
		padding-block: 15px;
	}

	&__title {
		margin: 0;

		color: var(--color-text);
		font-weight: 300;

		font-size: unquote('clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem)');
		line-height: 26px / 18px * 100%;

		transition: color var(--trns);

		@media (max-width: 47.9375em) and (min-width: 20em) {
			display: flex;
			align-items: center;
		}
	}
}

.imp-exp {

	&._invalid {

		.imp-exp__wrapper {
			border: 3px dashed var(--color-error);
		}

		.imp-exp__tip {
			color: var(--color-error);
		}
	}

	&._valid {

		.imp-exp__wrapper {
			border: 3px dashed var(--color-good);
		}

		.imp-exp__tip {
			color: var(--color-good);
		}
	}

	&__wrapper {
		position: relative;

		display: grid;
		place-items: center;

		aspect-ratio: 3 / 1.5;
		width: 100%;
		height: 100%;

		border: 3px dashed var(--color-descr);
		border-radius: var(--brs-m);

		background-color: var(--color-bg);

		transition:
			background-color var(--trns),
			border-color var(--trns);
	}

	&__tip {
		position: absolute;

		margin: 0;
		padding-inline: 15px;

		color: var(--color-descr);
		line-height: 26px / 18px * 100%;
		text-align: center;

		transition: color var(--trns);

		@media (min-width: 36em) {
			font-size: 1.125rem;
		}

		@media (max-width: 35.9375em) {
			font-size: 1rem;
		}
	}

	&__field {
		width: 100%;
		height: 100%;

		cursor: pointer;
		opacity: 0;
	}

	&__btn {
		margin-top: 20px;
	}

	&__actions {
		display: grid;
		grid-template-columns: 1fr 1fr;

		column-gap: 15px;
	}
}
