@font-face {
	font-weight: 400;
	font-family: 'Commissioner';
	font-style: normal;
	src: url(../fonts/Commissioner-Regular.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-weight: 500;
	font-family: 'Commissioner';
	font-style: normal;
	src: url(../fonts/Commissioner-Medium.woff2) format('woff2');
	font-display: swap;
}
