.toast__list {
	position: fixed;
	left: 50%;
	z-index: 1000;

	display: flex;
	flex-direction: column;

	row-gap: 15px;
	align-items: center;

	transform: translateX(-50%);

	@media (min-width: 48em) {
		bottom: 30px;
	}

	@media (max-width: 47.9375em) {
		top: 60px;
	}

	@media (max-width: 35.9375em) {
		width: 100%;
	}
}

.toast__item {
	--color-type: transparent;

	position: relative;

	display: flex;
	align-items: center;
	padding-block: 15px;
	padding-inline: 15px 30px;
	overflow: hidden;

	color: var(--color-text-toast);

	background-color: var(--color-bg-toast);
	box-shadow: var(--box-shadow-m);

	&:not(._visible) {
		visibility: hidden;
		opacity: 0;

		transition: opacity 1.5s ease-out, visibility 1.5s ease-out;
		animation: slide-out-blurred-right 0.4s var(--ease-in-back) both;
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-color: var(--color-type);
		opacity: .2;

		animation: toast-indicator-delay 4.2s linear .6s forwards;

		content: '';
	}

	&._visible {
		visibility: visible;
		opacity: 1;

		animation: slide-in-blurred-bottom 0.6s var(--ease-out-back) both;
	}

	&._error {
		--color-type: var(--color-error);

		.toast__icon {

			&::before,
			&::after {
				position: absolute;
				left: 50%;

				height: 5px;
				border-radius: 10px;
			}

			&::before {
				top: 10%;

				width: 15%;
				height: 45%;

				transform: translateX(-50%);
			}

			&::after {
				top: 70%;

				aspect-ratio: 1 / 1;

				height: 15%;

				transform: translateX(-50%);
			}
		}
	}

	&._info {
		--color-type: var(--color-info);

		.toast__icon {

			&::before,
			&::after {
				position: absolute;
				left: 50%;

				height: 5px;
				border-radius: 10px;
			}

			&::before {
				top: 40%;

				width: 15%;
				height: 45%;

				transform: translateX(-50%);
			}

			&::after {
				top: 10%;

				aspect-ratio: 1 / 1;

				height: 15%;

				transform: translateX(-50%);
			}
		}
	}

	&._good {
		--color-type: var(--color-good);

		.toast__icon {

			&::before,
			&::after {
				position: absolute;

				height: 5px;
				border-radius: 10px;
			}

			&::before {
				top: 52%;
				left: 60%;

				width: 50%;

				transform: translate(-50%, -50%) rotate(-43deg);
			}

			&::after {
				top: 55%;
				left: 35%;

				width: 35%;

				transform: translate(-50%, -50%) rotate(40deg);
			}
		}
	}

	@media (min-width: 36em) {
		font-size: 1.1rem;
	}

	@media (max-width: 35.9375em) {
		font-size: 0.9rem;
	}

	@media (min-width: 36em) {
		border-radius: var(--brs-s);
	}
}

.toast__icon {
	position: relative;

	aspect-ratio: 1 / 1;

	height: 30px;
	margin-right: 30px;
	border-radius: 50%;

	background-color: var(--color-type);
	box-shadow: var(--box-shadow-s);

	&:before,
	&:after {
		background-color: hsl(0, 0%, 100%);

		content: '';
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-9 4:42:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */

@keyframes slide-in-blurred-bottom {

	0% {
		transform: translateY(1000px);
		transform-origin: 50% 100%;
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		transform-origin: 50% 50%;
		opacity: 1;
	}
}

/**
 * ----------------------------------------
 * animation slide-out-blurred-right
 * ----------------------------------------
 */

@keyframes slide-out-blurred-right {

	0% {
		transform: translateX(0);
		transform-origin: 50% 50%;
		opacity: 1;
	}

	100% {
		transform: translateX(1000px);
		transform-origin: 0% 50%;
		opacity: 0;
	}
}

@keyframes toast-indicator-delay {

	from {
		width: 100%;
	}

	to {
		width: 0%;
	}
}
