.search {
	position: relative;
	z-index: 50;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;

	background-color: transparent;

	// .search__btn

	&__btn {
		position: absolute;
		top: 50%;
		right: 7.5px;
		z-index: 10;

		display: grid;
		place-items: center;
		padding: 2px;

		transform: translateY(-50%);
	}

	@media (min-width: 48em) {
		max-width: 830px;
	}
}
