.search {
	position: relative;
	z-index: 50;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;

	background-color: transparent;

	// & > aside {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 14px;
	// 	z-index: 10;

	// 	display: grid;
	// 	place-items: center;

	// 	transform: translateY(-50%);
	// }

	@media (min-width: 48em) {
		max-width: 830px;
	}
}
