.switch {
	--track-size: calc(var(--thumb-size) * 2);

	display: flex;

	gap: 2ch;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	color: var(--color-text);

	cursor: pointer;

	user-select: none;
	-webkit-tap-highlight-color: transparent;

	& > input {
		--thumb-position: 0%;

		display: grid;
		flex-shrink: 0;
		grid: [track] 1fr / [track] 1fr;
		align-items: center;
		box-sizing: content-box;
		padding: var(--track-padding);
		border-radius: var(--track-size);

		background: var(--color-track-inactive);
		outline-offset: 5px;

		transition:
			background-color var(--trns),
			border-color var(--trns);

		appearance: none;
		pointer-events: none;
		touch-action: pan-y;

		block-size: var(--thumb-size);
		inline-size: var(--track-size);

		&::before {
			--highlight-size: 0;

			grid-area: track;
			border-radius: 50%;

			background-color: var(--color-switch);
			box-shadow: 0 0 0 var(--highlight-size) var(--color-switch-highlight);
			transform: translateX(var(--thumb-position));
			cursor: pointer;

			transition:
				transform var(--trns),
				box-shadow var(--trns);

			content: '';
			pointer-events: auto;

			block-size: var(--thumb-size);
			inline-size: var(--thumb-size);
		}

		&:not(:disabled):hover::before {
			--highlight-size: 0.5rem;
		}

		&:checked {
			--thumb-position: calc((var(--track-size) - 100%));

			background: var(--color-track-active);
		}

		&:disabled {
			--thumb-color: transparent;

			cursor: not-allowed;

			&::before {
				box-shadow: inset 0 0 0 2px hsl(0, 0%, 100% / 0.5);
				cursor: not-allowed;
			}
		}
	}

	@media (min-width: 26.625em) {
		--thumb-size: 1.4rem;
		--track-padding: 0px;
	}

	@media (max-width: 26.5625em) {
		--thumb-size: 1.3rem;
		--track-padding: 0px;
	}
}
