.preloader {
	position: fixed;
	top: 0;
	z-index: 1000;

	display: grid;
	place-content: center;
	width: 100%;
	height: 100%;

	background-color: hsl(240, 15%, 10%);

	transition:
		transform .3s ease-in-out,
		opacity .3s ease-in-out,
		visibility .3s ease-in-out;

	will-change:
		transform,
		opacity,
		visibility;

	svg {
		animation: pulsate 1s ease-in-out infinite both;

		fill: hsl(0, 0%, 100%);
	}

	&._hidden {
		transform: scale(15);
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes pulsate {

	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
