.subscribe {
	position: relative;

	display: inline-block;
	padding: 27px 42px;
	border-radius: var(--brs-m);

	color: hsl(0, 0%, 100%);
	font-weight: 500;
	font-size: 1rem;
	line-height: 20px / 16px * 100%;

	&::after {
		position: absolute;
		inset: 0;

		border-radius: var(--brs-m);

		box-shadow: 0 35px 15px -35px var(--color-box-shadow-xl);

		transition:
			background-color .3s ease,
			transform var(--trns-fast);

		content: '';
	}

	&:not(._subscribed) {

		&::after {
			background-color: var(--color-accent-s);
		}
	}

	&._subscribed {

		&::after {
			background-color: var(--color-bg-unsubscribe);
		}
	}

	&__text {
		position: relative;
		z-index: 2;
	}

	@media (min-width: 34.4375em) {
		width: 240px;
	}
	@media (max-width: 34.375em) {
		width: 100%;
	}
	@media (hover: hover) and (pointer: fine) {

		&:hover {

			&::after,
			&::before {
				transform: scale(1.08);
			}
		}
	}
}
