:root {
	--color-bg: hsl(230, 10%, 90%);
	--color-bg-form: hsl(0, 0%, 100%);
	--color-bg-secondary: hsl(230, 10%, 97%);
	--color-bg-third: hsl(230, 10%, 94%);
	--color-title: hsl(220, 20%, 35%);
	--color-text: hsl(245, 5%, 45%);
	--color-descr: hsl(0, 0%, 40%);
	--color-bg-field: hsl(230, 10%, 94%);
	--color-text-field: hsl(245, 5%, 45%);
	--color-border-field: hsl(230, 10%, 90%);
	--color-icon: hsl(245, 5%, 70%);
	--color-bg-skeleton: hsl(230, 10%, 90%);
	--color-bg-skeleton-item: hsl(0, 0%, 95%);
	--color-bg-btn: hsl(230, 10%, 90%);
	--bg-btn: hsl(0, 0%, 100%);
	--bg-btn-hover: hsl(0, 0%, 70%);
	--color-bg-btn-disabled: hsl(230, 10%, 80%);
	--color-bg-btn-primary-hover: hsl(230, 10%, 96%);
	--color-box-shadow-s: hsla(0, 0%, 30%, 0.25);
	--color-box-shadow-m: hsla(0, 0%, 30%, 0.4);
	--color-box-shadow-l: hsla(0, 0%, 30%, 0.55);
	--color-box-shadow-xl: hsl(0, 0%, 30%);
	--color-error: hsl(350, 100%, 60%);
	--color-good: hsl(138, 100%, 50%);
	--color-info: hsl(229, 82%, 58%);
	--color-switch: hsl(0, 0%, 100%);
	--color-switch-highlight: hsl(0, 0%, 0%, 0.25);
	--color-track-inactive: hsl(80, 0%, 80%);
	--color-track-active: hsl(125, 70%, 48%);
	--color-bg-unsubscribe: hsl(230, 10%, 50%);
	--color-link: hsl(240, 75%, 55%);
	--color-link-hover: hsl(255, 70%, 30%);
	--color-link-visited: var(--color-accent-s);
	--color-bg-suggest-selected: hsl(0, 0%, 100%);
	--color-bg-suggest-hover: hsl(0, 0%, 97%);
	--color-text-suggest-selected: hsl(220, 20%, 35%);
	--color-bg-toast: hsl(0, 0%, 100%);
	--color-text-toast: hsl(240, 30%, 25%);
	--color-bg-chapter: hsl(240, 30%, 10%);
	--color-bg-sidebar: hsl(240, 30%, 10%);
	--color-bg-sidebar-tooltip: hsl(0, 0%, 0%);
	--color-bg-overlay: hsl(0, 0%, 0%, 0.3);
	--color-bg-range: hsl(245, 5%, 40%);
	--color-bg-table-row-even: hsl(230, 10%, 96%);
	--color-bg-kbtn: hsl(210, 10%, 50%);
	--color-bg-kbtn-active: hsl(210, 10%, 55%);
	--color-bs-kbtn: hsl(0, 0%, 30%);
	--color-text-kbtn: hsl(0, 0%, 100%);
	--color-bg-author-hover: hsl(230, 10%, 94%);
}

img {
	filter: brightness(100%);
}
