.dropdown {
	position: relative;
	z-index: 10;

	&:not(._active) {

		.dropdown__list {
			--gap: 15px;

			visibility: hidden;
			opacity: 0;

			&_top {
				bottom: calc(100% + var(--gap));
			}

			&_bottom {
				top: calc(100% + var(--gap));
			}
		}
	}

	&._active {

		.dropdown__list {
			--gap: 5px;
			visibility: visible;

			opacity: 1;

			&_top {
				bottom: calc(100% + var(--gap));
			}

			&_bottom {
				top: calc(100% + var(--gap));
			}
		}

		.arrow {

			&:before {
				transform: rotate(-45deg);
			}

			&:after {
				transform: rotate(45deg);
			}
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		padding: 12px;
		border-radius: var(--brs-s);

		transition:
			color var(--trns),
			border-color var(--trns);

		.arrow {
			margin-left: 15px;
		}
	}

	&__list {
		position: absolute;
		right: 0;

		width: auto;
		max-height: 125px;
		padding: 5px;
		border: 3px solid var(--color-bg-form);
		border-radius: var(--brs-l);
		overflow-y: auto;

		overscroll-behavior: contain;

		white-space: nowrap;
		text-align: right;

		background-color: var(--color-bg-field);
		box-shadow: var(--box-shadow-m);

		transition:
			opacity var(--trns),
			visibility var(--trns),
			background-color var(--trns),
			box-shadow var(--trns),
			bottom var(--trns),
			top var(--trns);

		&::-webkit-scrollbar {
			width: 0;
		}
	}

	&__item {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__btn {
		width: 100%;
		padding: 17px 30px;
		border-radius: var(--brs-m);

		text-align: left;

		transition:
			background-color var(--trns),
			color var(--trns),
			border-color var(--trns);

		&:not(._current) {
			color: var(--color-text);
		}

		&._current {
			color: hsl(0, 0%, 100%);

			background-color: var(--color-accent-s);
		}

		@media (hover: hover) and (pointer: fine) {

			&:not(._current):hover {
				color: var(--color-title);

				background-color: var(--color-bg-suggest-hover);
			}
		}
	}

	@media (hover: hover) and (pointer: fine) {

		&:hover {

			.arrow {

				&:before,
				&:after {
					transform: rotate(0deg);
				}
			}
		}
	}
}
