.burger {
	--height-buger: 17px;
	--height-line: 3px;
	position: relative;

	box-sizing: content-box;
	width: 20px;
	height: var(--height-buger);

	background-color: transparent;

	transition:
		background-color var(--trns),
		border-color var(--trns);

	&._active {
		background-color: var(--color-accent-l);
	}

	&._active > &__wrapper {

		&:before {
			transform: translateX(100%);
		}

		&:before,
		&:after,
		span {
			background-color: var(--color-accent-s);
		}

		&:after {
			transform: translateX(25%) scaleX(50%);
		}
	}

	&__wrapper {
		position: relative;

		width: 100%;
		height: 100%;

		&:before,
		&:after,
		span {
			position: absolute;
			left: 0;

			width: 100%;
			height: var(--height-line);
			border-radius: 20px;

			background-color: var(--color-title);

			transition: background-color var(--trns);
		}

		&:before {
			top: 0;

			width: 50%;

			transition:
				transform var(--trns),
				background-color var(--trns);

			content: '';
		}

		&:after {
			bottom: 0;

			transition:
				transform var(--trns),
				background-color var(--trns);

			content: '';
		}

		span {
			top: calc(var(--height-buger) / 2 - var(--height-line) / 2);
		}
	}

	@media (hover: hover) and (pointer: fine) {

		&:hover {
			background-color: var(--color-accent-l);
		}

		&:hover > &__wrapper {

			&:before,
			&:after,
			span {
				background-color: var(--color-accent-s);
			}
		}
	}

	@media (max-width: 47.9375em) {
		display: none;
	}
}
