<div class="channel win">
	<figure class="channel__banner">
		<div class="skeleton banner-skeleton"></div>
		<img crossorigin="anonymous" referrerpolicy="no-referrer" alt="🛠️ If you read this it means the channel doesn't have own banner" />
	</figure>
	<header class="channel__heading heading-channel">
		<div class="heading-channel__wrapper">
			<figure class="heading-channel__avatar">
				<div class="skeleton avatar-skeleton"></div>
				<img crossorigin="anonymous" referrerpolicy="no-referrer" alt="This is avatar of the channel" />
			</figure>
			<div class="heading-channel__info">
				<h1 class="heading-channel__author title">
					<div class="skeleton title-skeleton"></div>
					<span>Where's name of the channel?</span>
				</h1>
				<div class="heading-channel__followers">
					<div class="skeleton followers-skeleton"></div>
					<span>subscribers</span>
				</div>
				@include('../../components/subscribe/subscribe.html')
			</div>
		</div>
	</header>
	@include('../../components/tabs/tabs.html')
</div>
