.update {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100;

	padding: 3px;

	border-radius: var(--brs-s);
	overflow: hidden;

	transition:
		opacity .3s ease-in-out,
		visibility .3s ease-in-out,
		transform .3s ease-in-out;

	&:before {
		position: absolute;
		top: 0;
		left: 0;

		width: 200%;
		height: 100%;

		background-image: linear-gradient(115deg, hsl(135, 57%, 56%), hsl(48, 95%, 63%), hsl(270, 71%, 65%), hsl(197, 99%, 53%), hsl(144, 58%, 54%));
		background-size: 50% 100%;

		content: '';
	}

	&:not(._active) {
		transform: translateX(200%);
		visibility: hidden;
		opacity: 0;
	}

	&._active {
		transform: translateX(0%);
		visibility: visible;
		opacity: 1;

		&:before {
			animation: bg-gradient .75s linear infinite;
		}
	}

	&__content {
		position: relative;
		z-index: 2;

		display: flex;
		align-items: center;
		height: 100%;
		margin: 0;
		padding: 15px;
		border-radius: 3px;

		color: var(--color-title);
		font-size: 1.1rem;
		white-space: nowrap;

		background-color: var(--color-bg);

		transition: background-color var(--trns);

		aside > svg {
			stroke: var(--color-title);
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {
				background-color: var(--color-bg-form);
			}
		}
	}
}

@keyframes bg-gradient {

	to {
		transform: translateX(-50%);
	}
}
