.controls {
	position: absolute;
	inset: 0;

	z-index: 10;

	width: 100%;
	height: 100%;

	transition: background-color var(--trns);

	&:not(._opened) {
		background-color: transparent;

		.controls__bar {
			transform: translateY(100%);

			transition: transform var(--trns-slow) var(--trns-time-default);
		}

		.progress {
			height: 4px;
		}

		.controls__wrapper {
			visibility: hidden;
			opacity: 0;

			transition:
				opacity var(--trns) 0.3s,
				visibility var(--trns) 0.3s;
		}
	}

	.dropdown__head {
		align-items: center;
		justify-content: center;

		font-weight: 500;
	}

	button:not(.dropdown__btn) {
		@media (hover: hover) and (pointer: fine) {

			&:focus {
				background-color: var(--color-accent-s);
			}
		}
	}

	.dropdown {
		margin-left: 10px;

		color: hsl(0, 0%, 100%);
	}

	&._opened {
		background-color: hsla(0, 0%, 0%, 0.4);

		.controls__bar {
			transform: translateY(0);

			transition: transform var(--trns);
		}

		.progress {
			height: 7px;
		}

		.controls__wrapper {
			visibility: visible;
			opacity: 1;

			transition:
				opacity var(--trns),
				visibility var(--trns);
		}
	}

	&__bar {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;

		width: 100%;
		padding-inline: 10px;

		cursor: unset;

		transition: transform var(--trns-slow) var(--trns-time-default);

		@media (min-width: 31.3125em) {
			height: 60px;
		}

		@media (max-width: 31.25em) {
			height: 35px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__right {
		display: flex;
		margin-left: auto;
	}

	&__switch {
		margin-right: 10px;

		cursor: pointer;
	}

	&__switch,
	&__volume,
	&__screen {
		@media (min-width: 31.3125em) {
			padding: 10px;
		}

		@media (max-width: 31.25em) {
			padding: 5px;
		}
	}

	&__switch,
	&__volume,
	&__screen,
	.dropdown, {
		display: flex;
		border-radius: var(--brs-s);

		transition:
			transform var(--trns),
			background-color var(--trns),
			color var(--trns);

		& svg {
			fill: hsl(0, 0%, 100%);

			@media (max-width: 31.25em) {
				width: 14px;
				height: 13px;
			}
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {
				background-color: var(--color-accent-s);
			}
		}
	}

	&__screen {
		display: flex;
		align-items: center;
		margin-left: 10px;
	}

	&__speed {
		min-width: 50px;

		cursor: pointer;
	}

	&__sponsorblock {
		position: relative;

		width: max-content;
		margin-inline: 10px;
		padding-inline: 10px;

		border-radius: var(--brs-s);

		transition: background-color var(--trns);

		&._record {
			background-color: rgb(60, 255, 148);
		}

		@media (hover: hover) and (pointer: fine) {

			&:not(._record):hover {
				background-color: var(--color-accent-s);
			}
		}
	}
}

.time {
	display: flex;

	color: hsl(0, 0%, 100%);

	&__chapter {
		display: -webkit-box;
		margin: 0;
		margin-left: 35px;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;

		&:empty {
			display: none;
		}
	}

	&__separator {
		margin-inline: 5px;

		font-size: inherit;
	}

	@media (max-width: 31.25em) {
		font-size: 0.875rem;
	}
}

.progress {
	--buffered: 0;
	--progress: 0;

	position: absolute;
	top: 0;
	left: 50%;

	width: calc(100% - 40px);
	border: 0;
	border-radius: var(--brs-s);

	background-color: hsla(223, 4, 50, 0.5);
	transform:
		translateY(-100%)
		translateX(-50%);
	cursor: pointer;

	transition: height var(--trns);

	&:hover {
		height: 30px !important;

		.progress__seek-tooltip, {
			visibility: visible;
			opacity: 1;
		}

		.progress__seek::-webkit-slider-thumb {
			height: 100%;
		}
	}

	&__sponsorblock {
		position: absolute;
		inset: 0;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-s);
		overflow: hidden;
	}

	&__bar {
		position: absolute;

		width: 100%;
		height: 100%;
		border-radius: var(--brs-s);
		overflow: hidden;

		background: linear-gradient(90deg, var(--color-accent-s) var(--progress), var(--color-buffered) var(--progress), var(--color-buffered) var(--buffered), transparent var(--buffered));
	}

	&__chapter {
		--left: 0%;
		position: absolute;
		top: 50%;
		left: var(--left);

		width: 3px;

		height: 100%;

		background-color: var(--color-bg);

		transform: translateX(3px) translateY(-50%);
	}
}

.bar {
	background-color: var(--color-icon);

	&::-webkit-progress-bar {
		border: 0;

		background-color: var(--color-icon);
	}
}

.seek,
.bar {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;
	border-radius: var(--brs-s);
	overflow: hidden;
}

.seek {
	z-index: 10;

	padding: 0;
	border: 0;

	outline-offset: 0;
	cursor: pointer;

	appearance: none;

	&::-webkit-slider-thumb {
		width: 2px;
		height: 100%;
		border: 0;

		background-color: hsl(0, 0%, 100%);
		cursor: pointer;

		transition: height var(--trns);
	}

	&::-webkit-slider-runnable-track {
		border: 0;

		opacity: 0;
	}
}

.seek-tooltip {
	--left: 0%;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	width: 100%;

	color: hsl(0, 0%, 100%);
	font-size: 0.85rem;
	letter-spacing: 0.8px;

	transform: translateY(-105%);
	visibility: hidden;
	opacity: 0;

	transition: opacity var(--trns);

	pointer-events: none;

	&__container {
		position: relative;
		top: 0;
		left: clamp(10%, var(--left), 90%);

		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: center;

		transform: translateX(-50%);
	}

	&__chapter,
	&__time {
		padding: 5px 10px;
		border-radius: var(--brs-m);

		background-color: var(--color-bg-duration);
	}

	&__chapter {
		max-width: 25ch;
		margin: 0;
		overflow: hidden;

		line-height: 2;
		white-space: nowrap;

		text-align: center;
		text-overflow: ellipsis;

		&:empty {
			display: none;
		}
	}


	&__storyboard {
		--url: none;
		--posX: 0;
		--posY: 0;
		z-index: -1;

		width: 160px;
		height: 90px;

		border-radius: var(--brs-s);

		background-image: var(--url);
		background-repeat: no-repeat;
		background-position: var(--posX) var(--posY);
		background-size: 1000%;
		box-shadow: var(--box-shadow-m);

		content: '';
	}
}

.volume {
	position: relative;
	z-index: 20;

	align-items: center;

	cursor: pointer;

	svg {
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;

			width: 100%;
			border-radius: var(--brs-s);

			background-color: hsl(0, 0%, 100%);
			transform: translateY(-50%) rotate(45deg);
			opacity: 0;

			transition: opacity var(--trns);

			content: '';

			@media (min-width: 31.3125em) {
				height: 5px;
			}

			@media (max-width: 31.25em) {
				height: 4px;
			}
		}
	}

	&:hover {

		.volume__range {
			width: 100px;

			transition:
				transform var(--trns),
				width var(--trns);
		}
	}

	&__range {
		position: relative;

		width: 0;
		height: 7px;
		margin-left: 10px;
		border-radius: var(--brs-s);

		background-color: var(--color-icon);

		transition:
			transform var(--trns-time-slow) var(--trns-time-default),
			width var(--trns-time-slow) var(--trns-time-default);
	}

	&__bar {

		&::-webkit-progress-value {
			border: 0;

			background-color: hsl(0, 0%, 100%);
		}
	}

	@media (min-width: 31.3125em) {
		margin-right: 15px;
	}

	@media (max-width: 31.25em) {
		margin-right: 10px;
	}
}

.sponsorblock {

	&__item {
		--width: 0;
		--left: 0;

		position: absolute;
		top: 0;
		left: var(--left);

		width: var(--width);
		height: 100%;

		background-color: hsl(152, 100%, 42%);
	}
}

.decorations {
	position: absolute;
	inset: 0;

	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;

	background-color: transparent;
	cursor: pointer;

	&__item {
		position: absolute;

		display: grid;

		place-items: center;
		width: 100px;
		height: 100px;
		border-radius: var(--brs-xl);

		background-color: var(--color-bg-duration);

		& > svg {
			position: relative;
			z-index: 1;

			fill: hsl(0, 0%, 100%);
		}

		&:not(._active),
		&:not(._active) > svg {
			transform: scale(1);
			opacity: 0;

			transition:
				transform 0.3s var(--ease-in-sine),
				opacity 0.3s var(--ease-in-sine);
		}

		&._active,
		&._active > svg {
			transform: scale(1.1);
			opacity: 1;

			transition:
				transform 0.3s var(--ease-out-sine),
				opacity 0.3s var(--ease-out-sine);
		}
	}
}
