@import './partials/menu/menu';

@import './partials/decorations/decorations';

@import './partials/progress/progress';

.controls {
	position: absolute;
	inset: 0;
	z-index: 10;

	width: 100%;
	height: 100%;
	overflow: hidden;

	transition: background-color var(--trns);

	&:not(._opened) {
		background-color: transparent;

		.controls__bar {
			transform: translateY(100%);

			transition: transform var(--trns-slow) var(--trns-time-default);
		}

		.controls__state {
			opacity: 0;
		}

		.controls__progress {
			height: 4px;

			& > time {
				opacity: 0;

				transition: opacity var(--trns-slow) var(--trns-time-default);
			}
		}

		.controls__wrapper {
			visibility: hidden;
			opacity: 0;

			transition:
				opacity var(--trns) 0.3s,
				visibility var(--trns) 0.3s;
		}

		.controls__menu._opened {
			transform: translateX(calc(100% + var(--right-gap)));
			visibility: hidden;
		}
	}

	.dropdown__head {
		align-items: center;
		justify-content: center;

		font-weight: 500;
	}

	.dropdown {
		margin-left: 10px;

		color: hsl(0, 0%, 100%);
	}

	&._opened {
		background-color: hsla(0, 0%, 0%, 0.4);

		.controls__bar {
			transform: translateY(0);

			transition: transform var(--trns);
		}

		.controls__state {
			opacity: .2;
		}

		.controls__progress {
			height: 7px;

			& > time {
				opacity: 1;

				transition: opacity var(--trns);
			}
		}

		.controls__wrapper {
			visibility: visible;
			opacity: 1;

			transition:
				opacity var(--trns),
				visibility var(--trns);
		}
	}

	&__current-chapter {
		display: -webkit-box;
		margin: 0;
		overflow: hidden;

		color: hsl(0, 0%, 100%);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;

		&:before {
			width: 5px;
			height: 5px;

			margin-inline: 5px;
			border-radius: 50%;

			background-color: hsl(0, 0%, 100%);

			content: '';
		}

		&:empty {
			display: none;
		}

		@media (max-width: 31.25em) {
			font-size: 0.875rem;
		}
	}

	&__top {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 11;

		&:not(._opened) {
			opacity: 0;

			transition: opacity var(--trns-slow) var(--trns-time-default);
		}

		&._opened {
			opacity: 1;

			transition: opacity var(--trns);
		}
	}

	&__menu {
		--right-gap: 15px;

		position: absolute;
		right: var(--right-gap);
		bottom: 80px;
		z-index: 100;

		transition:
			transform var(--trns-fast),
			visibility var(--trns-fast);

		&:not(._opened) {
			transform: translateX(calc(100% + var(--right-gap)));
			visibility: hidden;
		}

		._opened {
			transform: translateX(0%);
			visibility: visible;
		}
	}

	&__state {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translateX(-50%) translateY(-50%);

		transition: opacity var(--trns);

		& > svg {
			fill: hsl(0, 0%, 100%);
		}
	}

	&__bar {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;

		width: 100%;
		padding-inline: 25px;

		cursor: unset;

		transition: transform var(--trns-slow) var(--trns-time-default);

		@media (min-width: 31.3125em) {
			height: 60px;
		}

		@media (max-width: 31.25em) {
			height: 35px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__actions {
		display: flex;
		margin-left: auto;
	}

	&__switch {
		margin-right: 10px;

		cursor: pointer;
	}

	&__switch,
	&__screen {
		@media (min-width: 31.3125em) {
			padding: 10px;
		}

		@media (max-width: 31.25em) {
			padding: 5px;
		}
	}

	&__switch,
	&__screen,
	.dropdown, {
		display: flex;
		border-radius: var(--brs-s);

		transition:
			transform var(--trns),
			background-color var(--trns),
			color var(--trns);

		& svg {
			fill: hsl(0, 0%, 100%);

			@media (max-width: 31.25em) {
				width: 14px;
				height: 13px;
			}
		}
	}

	&__screen {
		display: flex;
		align-items: center;
		margin-left: 10px;
	}

	&__speed {
		min-width: 50px;

		cursor: pointer;
	}
}

.bar {
	background-color: var(--color-bg-range);

	&::-webkit-progress-bar {
		border: 0;

		background-color: var(--color-bg-range);
	}
}

.seek,
.bar {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;
	border-radius: var(--brs-s);
	overflow: hidden;
}

.seek {
	z-index: 10;

	padding: 0;
	border: 0;

	outline-offset: 0;
	cursor: pointer;

	appearance: none;

	&::-webkit-slider-thumb {
		width: 2px;
		height: 100%;
		border: 0;

		background-color: hsl(0, 0%, 100%);
		cursor: pointer;
	}

	&::-webkit-slider-runnable-track {
		border: 0;

		opacity: 0;
	}
}

.volume {
	position: relative;
	z-index: 20;

	display: flex;
	align-items: center;

	cursor: pointer;

	&__range {
		position: relative;

		width: 0;
		height: 7px;
		margin-left: 10px;
		border-radius: var(--brs-s);

		background-color: var(--color-bg-range);

		transition:
			transform var(--trns-time-slow) var(--trns-time-default),
			width var(--trns-time-slow) var(--trns-time-default);
	}

	&__bar {

		&::-webkit-progress-value {
			border: 0;

			background-color: hsl(0, 0%, 100%);
		}
	}

	@media (hover: hover) and (pointer: fine) {

		&:hover {

			.volume__range {
				width: 100px;

				transition:
					transform var(--trns),
					width var(--trns);
			}
		}
	}
}

.sponsorblock {

	&__item {
		--width: 0;
		--left: 0;

		position: absolute;
		top: 0;
		left: var(--left);

		width: var(--width);
		height: 100%;

		background-color: hsl(152, 100%, 42%);
	}
}


.top {
	width: 100%;
	margin-inline: auto;
	padding-block: 30px;
	padding-inline: 20px;

	&__title {
		display: -webkit-box;
		overflow: hidden;

		color: hsl(0, 0%, 100%);
		font-size: 1.5rem;

		opacity: 0.8;

		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	&__author {
		color: hsl(0, 0%, 100%);

		opacity: 0.6;
	}
}

.controls-actions {

	&__list {
		display: flex;
		gap: 30px;
		align-items: center;
	}

	&__item,
	&__btn {
		height: 100%;
	}

	&__btn {
		position: relative;

		& svg {
			fill: hsl(0, 0%, 100%);
		}

		@media (hover: hover) and (pointer: fine) {

			&:before {
				position: absolute;
				top: 0;
				right: 0;

				padding-inline: 5px;
				border-radius: var(--brs-s);

				color: hsl(0, 0%, 100%);
				font-size: 0.9rem;
				white-space: nowrap;

				background-color: var(--color-bg-duration);

				transform: translateY(-30px);
				opacity: 0;

				transition: opacity var(--trns-fast);

				content: attr(data-tooltip);
				pointer-events: none;
			}

			&:hover::before {
				opacity: 1;
			}
		}
	}
}
