<div class="video__controls controls">
	<header class="controls__heading heading">
	</header>
	<aside class="controls__state">
		<svg width="50px" height="50px">
			<use xlink:href="img/svg/controls.svg#play"></use>
		</svg>
	</aside>
	@include('./partials/decorations/decorations.html')
	<div class="controls__bar">
		@include('./partials/menu/menu.html')
		@include('./partials/progress/progress.html')
		<div class="controls__wrapper">
			<p class="controls__current-chapter"></p>
			<div class="controls__actions controls-actions">
				<ul class="controls-actions__list list-reset">
					<li class="controls-actions__item">
						<button
							class="
								controls-actions__btn controls-actions__btn_volume
								onclick-effect
								volume
								btn-reset
							"
							data-tooltip="Mute (M)">
							<aside>
								<svg width="23px" height="23px">
									<use xlink:href="img/svg/controls.svg#volume"></use>
								</svg>
							</aside>
							<div class="volume__range">
								<progress class="volume__bar bar" value="0" min="0"></progress>
								<input
									class="volume__seek seek"
									value="1"
									type="range"
									max="1"
									min="0"
									step="0.01" />
							</div>
						</button>
					</li>
					<li class="controls-actions__item">
						<button
							class="
								controls-actions__btn controls-actions__btn_sponsorblock
								onclick-effect
								btn-reset
							"
							data-tooltip="Start segment (S)">
							<svg width="23px" height="23px">
								<use xlink:href="img/svg/controls.svg#sponsorblock"></use>
							</svg>
						</button>
					</li>
					<li class="controls-actions__item">
						<button
							class="
								controls-actions__btn controls-actions__btn_more
								onclick-effect
								btn-reset
							"
							data-tooltip="Open more">
							<svg width="27px" height="27px">
								<use xlink:href="img/svg/controls.svg#more"></use>
							</svg>
						</button>
					</li>
					<li class="controls-actions__item">
						<button
							class="
								controls-actions__btn controls-actions__btn_screen
								onclick-effect
								btn-reset
							"
							data-tooltip="Fullscreen (F)">
							<svg width="20px" height="20px">
								<use xlink:href="img/svg/controls.svg#open-fullscreen"></use>
							</svg>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
