@font-face {
	font-weight: 400;
	font-family: 'ProximaNova';
	font-style: normal;
	src: url(../fonts/ProximaNova-Regular.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-weight: 500;
	font-family: 'ProximaNova';
	font-style: normal;
	src: url(../fonts/ProximaNova-Semibold.woff) format('woff');
	font-display: swap;
}
