* {
	word-spacing: 3px;
}

body {
	position: relative;

	min-width: 320px;
	overflow-x: hidden;

	font-family: var(--ff);

	background-color: var(--color-bg-form);

	transition: background-color var(--trns);

	@media (min-width: 48em) {

		&::-webkit-scrollbar {
			width: 14px;
		}

		&::-webkit-scrollbar-thumb {
			border: 3px solid var(--color-bg-form);
			border-radius: var(--brs-m);

			background-color: var(--color-bg-field);
		}

		&::-webkit-scrollbar-track {
			background-color: var(--color-bg-form);
		}
	}

	@media (max-width: 47.9375em) {

		&::-webkit-scrollbar {
			width: 0;
		}
	}
}

.list-reset {
	margin: 0;
	padding: 0;

	text-indent: 0;

	list-style-type: none;
}

button,
a,
input {
	border: var(--width-line) solid transparent;

	outline: 0;

	transition: border-color var(--trns);
}

input {
	@media (hover: hover) and (pointer: fine) {

		&:focus-visible {
			border: var(--width-line) solid var(--color-accent-s);
		}
	}
}

button,
a {
	@media (hover: hover) and (pointer: fine) {

		&:focus-visible:not(:is(._active,.btn-accent)) {
			border: var(--width-line) solid var(--color-accent-s);
		}

		&:focus-visible:is(._active,.btn-accent) {
			border: var(--width-line) solid var(--color-title);
		}
	}
}

a:not(.btn-primary) {
	color: var(--color-link);

	transition:
		color var(--trns),
		border-color var(--trns);

	&:visited {
		color: var(--color-link-visited);
	}

	@media (hover: hover) and (pointer: fine) {

		&:hover {
			color: var(--color-link-hover);
			text-decoration: none;
		}
	}

	@media (hover: hover) and (pointer: fine) {

		&:focus {
			outline: 0;
		}
	}
}

.btn-reset {
	width: auto;
	margin: 0;
	padding: 0;
	overflow: visible;

	color: inherit;
	font: inherit;

	line-height: normal;

	background-color: transparent;

	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

label {
	cursor: pointer;
}

input[type='text'] {
	width: 100%;
	height: 100%;
	padding: 12.5px 23px;
	border-radius: var(--brs-m);

	color: var(--color-text-field);
	font-weight: 400;
	font-size: var(--caption-font-size);

	background-color: var(--color-bg-field);
	outline: 0;

	transition:
		border-radius var(--trns),
		border-color var(--trns),
		color var(--trns),
		background-color var(--trns);

	&:not(:focus-visible) {
		border: var(--width-line) solid transparent;

		&::placeholder {
			opacity: 0.8;
		}
	}

	&:focus-visible {
		border: var(--width-line) solid var(--color-accent-s);

		&::placeholder {
			opacity: 0;
		}
	}

	@media (hover: hover) and (pointer: fine) {

		&:not(:focus-visible):hover {
			border: var(--width-line) solid var(--color-accent-m);
		}
	}
}

::selection {
	color: hsl(0, 0%, 100%);

	background-color: var(--color-accent-s);
}
