:root {
	--ff:
		'ProximaNova',
		sans-serif;
	--accent-hue: 330;
	--accent-saturation: 95%;
	--accent-lightness: 48%;
	--accent-alpha-l: 0.1;
	--accent-alpha-m: 0.55;
	--accent-alpha-s: 1;
	--color-accent-s: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-lightness), var(--accent-alpha-s));
	--color-accent-m: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-lightness), var(--accent-alpha-m));
	--color-accent-l: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-lightness), var(--accent-alpha-l));
	--color-buffered: hsl(250, 15%, 90%);
	--width-line: 3px;
	--color-line: var(--color-accent-s);
	--color-bg-duration: hsla(0, 0%, 0%, 0.75);
	--color-bg-edge: var(--color-accent-s);
	--brs-s: 5px;
	--brs-m: 10px;
	--brs-l: 15px;
	--brs-xl: 20px;
	--box-shadow-s: var(--color-box-shadow-s) 0 2px 48px;
	--box-shadow-m: var(--color-box-shadow-m) 0 2px 12px;
	--box-shadow-l: var(--color-box-shadow-l) 0 2px 12px;
	--box-shadow-xl: var(--color-box-shadow-xl) 0 2px 12px;
	--trns-timing-func: ease;
	--ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.175);
	--ease-in-back: cubic-bezier(0.6, -0.18, 0.735, 0.045);
	--ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
	--ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
	--trns: var(--trns-time-default) var(--trns-timing-func);
	--trns-fast: var(--trns-time-fast) var(--trns-timing-func);
	--trns-slow: var(--trns-time-slow) var(--trns-timing-func);

	@media screen and (prefers-reduced-motion: no-preference) {
		--trns-time-default: 0.3s;
		--trns-time-fast: 0.18s;
		--trns-time-slow: 1s;
	}
	@media screen and (prefers-reduced-motion: reduce) {
		--trns-time-default: 0.1s;
		--trns-time-fast: 0s;
		--trns-time-slow: 0.5s;
	}
}
