.spinner {
	--spinner-size: 3;
	--line-color: hsl(0, 0%, 100%);
	--line-alpha: 1;
	--ring-color: hsl(0, 0%, 0%);
	--ring-alpha: 0;
	--ring-size: 10;

	width: 1em;
	height: 1em;
	border-radius: 50%;

	font-size: calc(var(--spinner-size) * 1em);
}

.spinner .line {
	transform: rotate3d(0, 0, 1, 0deg);
	transform-origin: 50% 50%;
	opacity: var(--line-alpha);

	animation: 1800ms spinner-arc ease-in-out infinite, 1500ms spinner-rotate linear infinite;

	fill: none;
	stroke: var(--line-color);
	stroke-linecap: round;
	stroke-width: var(--ring-size);
}

.spinner .ring {
	opacity: var(--ring-alpha);

	fill: none;
	stroke: var(--ring-color);
	stroke-width: var(--ring-size);
}

@keyframes spinner-rotate {

	to {
		transform: rotate3d(0, 0, 1, 360deg);
	}
}

@keyframes spinner-arc {

	from {
		stroke-dasharray: 0 150;
		stroke-dashoffset: 0;
	}

	to {
		stroke-dasharray: 100 150;
		stroke-dashoffset: -140;
	}
}
