.column {

	.grid__wrapper {
		@media (min-width: 36em) {
			grid-template-columns: 1fr;
		}

		@media (min-width: 62em) {
			max-width: unquote('min(85vw, 1200px)');
			margin-inline: auto;
		}
	}

	.card {
		@media (min-width: 48em) {
			grid-template-rows: 1fr;
			grid-template-columns: 35% auto;

			column-gap: 20px;
		}

		@media (max-width: 47.9375em) and (min-width: 36em) {
			grid-template-columns: 56% auto;

			column-gap: 15px;
		}

		@media (max-width: 35.9375em) {
			grid-template-rows: auto 1fr;
		}
	}

	.card__title {
		@media (min-width: 48em) {
			font-size: 1.375rem;
		}

		@media (min-width: 36em) {
			margin: 0;
		}
	}

	.card__info {
		grid-template-rows: auto 1fr;
	}

	.card__bottom {
		gap: 13px;
		align-self: auto;
		justify-content: space-between;
	}
}
