<ul class="grid__wrapper list-reset">
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
	<li class="grid__item">@include('../card/card-video/card-video.html')</li>
</ul>
