<ul class="grid__wrapper list-reset">
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
	<li class="grid__item">@include('../card/card-playlist/card-playlist.html')</li>
</ul>
