<ul class="grid__wrapper list-reset">
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
	<li class="grid__item">@include('../card/card-author/card-author.html')</li>
</ul>
