<aside class="main__sidebar sidebar _closed">
	<nav class="sidebar__nav">
		<ul class="sidebar__list list-reset">
			<li class="sidebar__item">
				<button data-win="latest" class="sidebar__btn _active">
					<aside class="sidebar__icon">
						<svg width="25px" height="25px">
							<use xlink:href="img/svg/nav.svg#home"></use>
						</svg>
					</aside>
					<span class="sidebar__caption">Latest</span>
				</button>
			</li>
			<li class="sidebar__item">
				<button data-win="trending" class="sidebar__btn">
					<aside class="sidebar__icon">
						<svg width="27px" height="27px">
							<use xlink:href="img/svg/nav.svg#trend"></use>
						</svg>
					</aside>
					<span class="sidebar__caption">Trending</span>
				</button>
			</li>
			<li class="sidebar__item">
				<button data-win="subscriptions" class="sidebar__btn">
					<aside class="sidebar__icon">
						<svg width="25px" height="25px">
							<use xlink:href="img/svg/nav.svg#subs"></use>
						</svg>
					</aside>
					<span class="sidebar__caption">Subs</span>
				</button>
			</li>
			<li class="sidebar__item">
				<button data-win="history" class="sidebar__btn">
					<aside class="sidebar__icon">
						<svg width="25px" height="25px">
							<use xlink:href="img/svg/actions.svg#date"></use>
						</svg>
					</aside>
					<span class="sidebar__caption">History</span>
				</button>
			</li>
			<li class="sidebar__item">
				<button data-win="settings" class="sidebar__btn">
					<aside class="sidebar__icon">
						<svg width="27px" height="27px">
							<use xlink:href="img/svg/nav.svg#setting"></use>
						</svg>
					</aside>
					<span class="sidebar__caption">Settings</span>
				</button>
			</li>
			<li class="sidebar__item">
				<button class="sidebar__btn btn-exit" onclick="closeApp()">
					<aside class="sidebar__icon">
						<svg width="28px" height="28px">
							<use xlink:href="img/svg/nav.svg#exit"></use>
						</svg>
					</aside>
					<span class="sidebar__caption">Exit</span>
				</button>
			</li>
		</ul>
	</nav>
</aside>
