.sidebar {
	position: fixed;
	z-index: 20;

	background-color: var(--color-bg-sidebar);

	transition:
		transform var(--trns),
		background-color var(--trns),
		box-shadow var(--trns);

	&::-webkit-scrollbar {
		width: 0;
	}

	&__nav {
		height: 100%;
	}

	&__list {
		display: flex;

		@media (min-width: 48em) {
			flex-direction: column;
			height: 100%;
		}
		@media (max-width: 47.9375em) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__item {

		&:before {
			content: unset;
		}

		@media (max-width: 47.9375em) {
			display: flex;
			flex: 0 1 25%;
			justify-content: center;
		}
	}

	&__btn {
		position: relative;

		display: grid;
		place-items: center;

		width: 100%;

		background-color: transparent;

		&._active {
			background-color: var(--color-accent-s);

			.sidebar__icon svg {
				fill: hsl(0, 0%, 100%);
				stroke: hsl(0, 0%, 100%);
			}
		}

		@media (min-width: 48em) {
			--wipe-dir: 90deg;
			aspect-ratio: 1 / 1;

			transition:
				border-color var(--trns),
				background-color var(--trns);

			&:before,
			&:after {
				position: absolute;
				top: 50%;
				left: 100%;

				opacity: 0;

				transition:
					opacity var(--trns),
					transform var(--trns);

				content: '';

				pointer-events: none;
			}

			&:before {
				width: 0;
				height: 0;
				border-color: transparent var(--color-bg-sidebar-tooltip) transparent transparent;
				border-style: solid;
				border-width: 17px 10px 17px 0;

				transform: translateY(-50%) translateX(15px);
			}

			&:after {
				padding-block: 5px;
				padding-inline: 10px 15px;
				border-radius: 0 var(--brs-s) var(--brs-s) 0;

				color: hsl(0, 0%, 100%);
				white-space: nowrap;

				background-color: var(--color-bg-sidebar-tooltip);
				transform: translateY(-50%) translateX(25px);

				content: attr(data-tooltip);
			}

			@media (hover: hover) and (pointer: fine) {

				&:hover {

					&:before,
					&:after {
						opacity: 1;
					}
				}
			}
		}
		@media (max-width: 47.9375em) {
			--middle-val-padbl: calc(7px + (15 - 7) * ((100vw - 320px) / (767 - 320)));
			justify-content: center;
			padding-block: clamp(7px, var(--middle-val-padbl), 15px);
			border-radius: var(--brs-s);

			transition: background-color var(--trns);
		}
		@media (hover: hover) and (pointer: fine) {

			&:not(._active):hover {
				background-color: var(--color-accent-l);

				.sidebar__caption {
					color: var(--color-accent-s);

					transform: translateX(5px);
				}

				.sidebar__icon svg {
					fill: var(--color-accent-s);
					stroke: var(--color-accent-s);
				}
			}
		}
	}

	&__icon {
		position: relative;

		display: grid;
		place-content: center;

		background-color: transparent;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (min-width: 48em) {
			width: 30px;
		}
		@media (max-width: 28.0625em) {

			svg {
				width: 22px;
				height: 22px;
			}
		}
	}

	@media (min-width: 48em) {
		top: 0;
		left: 0;

		width: 86px;
		height: 100vh;
		padding-top: 86px;
		padding-bottom: 10px;
		overscroll-behavior: contain;

		box-shadow: var(--box-shadow-s);

		&._closed {
			transform: translateX(-100%);
		}
	}
	@media (max-width: 47.9375em) {
		left: 50%;

		width: calc(100% - 20px);
		padding: 4px;
		border-radius: var(--brs-m);
		overflow: hidden;

		box-shadow: var(--box-shadow-m);
		filter: drop-shadow(0px -5px 40px var(--box-shadow-s));

		&:not(._hidden) {
			bottom: 10px;

			transform: translateX(-50%);
		}

		&._hidden {
			bottom: 0;

			transform: translateX(-50%) translateY(100%);
		}
	}
}
