<aside class="main__sidebar sidebar _closed">
	<nav class="sidebar__nav">
		<ul class="sidebar__list list-reset">
			<li class="sidebar__item">
				<button data-win="latest" data-tooltip="Latest" class="sidebar__btn _active">
					<aside class="sidebar__icon">
						<svg width="19px" height="19px">
							<use xlink:href="img/svg/nav.svg#home"></use>
						</svg>
					</aside>
				</button>
			</li>
			<li class="sidebar__item">
				<button data-win="trending" data-tooltip="Trending" class="sidebar__btn">
					<aside class="sidebar__icon">
						<svg width="21px" height="21px">
							<use xlink:href="img/svg/nav.svg#trend"></use>
						</svg>
					</aside>
				</button>
			</li>
			<li class="sidebar__item">
				<button data-win="subscriptions" data-tooltip="Subscriptions" class="sidebar__btn">
					<aside class="sidebar__icon">
						<svg width="20px" height="20px">
							<use xlink:href="img/svg/nav.svg#subs"></use>
						</svg>
					</aside>
				</button>
			</li>
			<li class="sidebar__item">
				<button data-win="history" data-tooltip="History" class="sidebar__btn">
					<aside class="sidebar__icon">
						<svg width="19px" height="19px">
							<use xlink:href="img/svg/actions.svg#date"></use>
						</svg>
					</aside>
				</button>
			</li>
			<li class="sidebar__item">
				<button data-win="settings" data-tooltip="Settings" class="sidebar__btn">
					<aside class="sidebar__icon">
						<svg width="23px" height="23px">
							<use xlink:href="img/svg/nav.svg#setting"></use>
						</svg>
					</aside>
				</button>
			</li>
		</ul>
	</nav>
</aside>
