:root {
	--color-bg: hsl(240, 15%, 10%);
	--color-bg-form: hsl(240, 15%, 15%);

	--color-title: hsl(0, 0%, 100%);
	--color-text: hsl(223, 4%, 55%);
	--color-descr: hsl(240, 5%, 48%);

	--color-bg-field: hsl(240, 15%, 25%);
	--color-text-field: hsl(225, 5%, 80%);

	--color-icon: var(--color-text);

	--color-bg-skeleton: var(--color-bg);
	--color-bg-skeleton-item: hsl(240, 15%, 12%);

	--color-bg-btn: var(--color-bg);
	--bg-btn: hsl(0, 0%, 100%);
	--bg-btn-hover: hsl(240, 15%, 35%);
	--color-bg-btn-disabled: hsl(240, 15%, 5%);
	--color-bg-btn-primary-hover: hsl(240, 15%, 12%);

	--color-box-shadow-s: hsla(0, 0%, 0%, 0.1);
	--color-box-shadow-m: hsla(0, 0%, 0%, 0.3);
	--color-box-shadow-l: hsla(0, 0%, 0%, 0.5);
	--color-box-shadow-xl: hsla(0, 0%, 0%, 0.7);

	--color-error: hsl(0, 100%, 60%);
	--color-good: hsl(145, 100%, 35%);
	--color-info: hsl(205, 90%, 50%);

	--color-switch: hsl(0, 0%, 100%);
	--color-switch-highlight: hsla(0, 0%, 70%, 0.25);
	--color-track-inactive: var(--color-bg-field);
	--color-track-active: hsl(125, 40%, 40%);

	--color-bg-unsubscribe: hsl(230, 10%, 35%);
	--color-link: hsl(200, 100%, 55%);
	--color-link-hover: hsl(200, 100%, 35%);
	--color-link-visited: var(--color-accent-s);

	--color-bg-suggest-selected: hsl(240, 15%, 15%);
	--color-bg-suggest-hover: hsl(240, 15%, 20%);
	--color-text-suggest-selected: var(--color-title);

	--color-text-toast: hsl(220, 5%, 85%);
}

img {
	filter: brightness(80%);
}
