.header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;

	width: 100%;

	background-color: var(--color-bg-form);

	box-shadow: var(--box-shadow-s);

	transition:
		transform var(--trns),
		box-shadow var(--trns),
		background-color var(--trns);

	&:not(._hidden) {
		transform: translateY(0%);
	}

	.search {
		margin: auto;
	}

	&._hidden {
		transform: translateY(-100%);
	}

	&__outter-container {
		position: relative;

		display: flex;
		align-items: stretch;
		justify-content: space-between;
		height: 100%;

		column-gap: 20px;
	}

	&__btn {
		aspect-ratio: 1 / 1;

		background-color: transparent;

		transition:
			background-color var(--trns),
			border-color var(--trns);

		& svg {
			transition: fill var(--trns);

			fill: var(--color-title);
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {
				background-color: var(--color-accent-l);

				& svg {
					fill: var(--color-accent-s);
				}
			}
		}

		@media (max-width: 47.9375em) {
			display: none;
		}
	}

	@media (min-width: 48rem) {
		height: 86px;
	}

	@media (max-width: 47.9375rem) {
		height: 70px;
	}
}
