.spoiler {
	--height-content: 0;

	flex-direction: column;

	color: var(--color-descr);
	font-size: 1rem;
	line-height: 23px;

	&._opened {

		.spoiler__shell {
			max-height: var(--height-content);
		}

		.spoiler__content {
			visibility: visible;
		}

		.arrow {

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}
	}

	&__shell {
		max-height: 0;
		overflow: hidden;

		background-color: var(--color-bg-secondary);

		transition: max-height var(--trns);
	}

	&__content {
		position: relative;

		width: 100%;
		max-width: 70ch;
		margin: 0;

		font-family: var(--ff);

		visibility: hidden;

		transition: var(--trns);

		@media (min-width: 48em) {
			padding-block: 40px;
			padding-left: 60px;

			&::before {
				position: absolute;
				top: 30px;
				left: 20px;

				width: 2px;
				height: calc(100% - 60px);

				background-color: var(--color-text);

				content: '';
			}
		}

		@media (max-width: 47.9375em) {
			padding: 25px 15px;
		}
	}

	&__head {
		display: flex;
		width: 100%;
		padding: 20px;

		color: var(--color-descr);
		font-size: 1rem;

		background-color: var(--color-bg-third);

		transition: color var(--trns), border-color var(--trns), background-color var(--trns);

		border-inline: 3px solid transparent;

		&::before {
			background-color: var(--bg-playlist-btn-hover);
		}

		.arrow {
			margin-left: auto;
		}

		@media (max-width: 47.9375em) {
			justify-content: space-between;
		}

		@media (hover: hover) and (pointer: fine) {

			&:not(._active):hover {

				.arrow {

					&::before,
					&::after {
						transform: rotate(0deg);
					}
				}
			}
		}
	}

	@media (min-width: 36em) {
		margin-top: 20px;
	}

	@media (max-width: 35.9375em) {
		margin-top: 15px;
	}
}
