.card {
	display: grid;
	grid-template-rows: auto 1fr;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-color: var(--color-bg-form);

	transition:
		opacity var(--trns),
		transform var(--trns),
		box-shadow var(--trns),
		border-color var(--trns),
		visibility var(--trns);

	&__image {
		--watched-progress: 0;
		--width-bar: var(--watched-progress, 0%);
		position: relative;

		display: flex;
		justify-self: start;
		aspect-ratio: 16 / 9;
		width: 100%;
		border-radius: var(--brs-s);
		overflow: hidden;

		background-color: var(--color-bg-form);

		transition:
			width var(--trns),
			aspect-ratio var(--trns);

		&:before {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;

			width: unquote('min(100%, calc(var(--width-bar) * 999))');
			height: 4px;
			border-radius: var(--brs-s);

			background: linear-gradient(90deg, var(--color-accent-s) var(--watched-progress), hsla(223, 4, 50, 0.5) var(--watched-progress));

			content: '';
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;

			font-size: 0;

			background-color: var(--color-bg-form);

			transition: transform var(--trns);
		}
	}

	&__info {
		display: grid;
		grid-template-rows: auto auto;
		height: 100%;
		padding: 6px;
	}

	&__title {
		position: relative;

		display: -webkit-box;
		margin: 10px 0 0;
		overflow: hidden;

		color: var(--color-title);
		font-weight: 500;
		line-height: 23px / 16px * 100%;
		text-align: left;

		transition: color var(--trns);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;

		@media (min-width:48em) {
			font-size: 1.125rem;
		}

		@media (max-width:47.9375em) {
			font-size: 1rem;
		}
	}

	&__channel-descr {
		display: -webkit-box;
		max-width: 65ch;
		padding-left: 25px;
		border-left: 3px solid var(--color-text);
		overflow: hidden;

		line-height: 23px / 16px * 100%;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;

		@media (min-width:48em) {
			font-size: 1rem;
		}

		@media (max-width:47.9375em) {
			font-size: .875rem;
		}
	}

	&__bottom {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: inherit;
		margin-top: 15px;

		color: var(--color-text);
		font-size: 1rem;
		font-family: inherit;
		line-height: 16px / 13px * 100%;
		text-align: left;

		transition: color var(--trns);
	}

	&__edge {
		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		padding-right: 10px;
		padding-left: 30px;

		color: hsl(0, 0%, 100%);
		font-size: 1.375rem;

		background-color: var(--color-bg-unsubscribe);

		transition:
			clip-path var(--trns-time-default) var(--ease-in-sine),
			width var(--trns-time-default) var(--ease-in-sine);

		clip-path: circle(40% at 110% 50%);

		&:before {
			text-transform: uppercase;

			background-color: transparent;

			content: 'VIEW ALL';
		}
	}

	&__icon {
		margin-right: 0;

		& svg {
			fill: hsl(0, 0%, 100%);
		}
	}

	&__part {
		display: flex;
		gap: 5px;
		align-items: center;

		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	&__wrapper {
		display: grid;
		gap: 10px;
		place-content: center;
		height: 100%;

		background-color: transparent;

		span {
			text-align: center;
		}
	}

	&__btn {
		width: 100%;
		margin-top: 10px;
		padding: 10px 20px;
		border-radius: var(--brs-m);

		color: var(--color-title);
		font-size: 1rem;
		line-height: 22px / 16px * 100%;
		text-transform: uppercase;

		background-color: var(--bg-playlist-btn);

		transition:
			background-color var(--trns),
			color var(--trns);

		&:before {
			background-color: var(--bg-playlist-btn-hover);
		}
	}

	&__duration {
		position: absolute;
		right: 10px;
		bottom: 10px;

		padding: 3px 9px;
		border-radius: var(--brs-l);

		color: hsl(0, 0%, 100%);
		font-size: .875rem;
		line-height: 18px / 14px * 100%;

		background-color: var(--color-bg-duration);
	}

	&__channel,
	&__details {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;

		@media (min-width:48em) {
			font-size: 1rem;
		}

		@media (max-width:47.9375em) {
			font-size: .875rem;
		}
	}

	&__channel {
		position: relative;

		margin-top: 15px;
		margin-bottom: 0;
		padding-block: 6px;
		padding-inline: 5px 15px;

		transition: background-color var(--trns);

		&:after {
			position: absolute;
			bottom: 0;
			left: 0;

			width: 0;
			height: 2px;

			background-color: var(--color-text);

			transition: width var(--trns);

			content: '';
		}

		@media (hover:hover) and (pointer:fine) {

			&:hover {

				&:after {
					width: 100%;
				}
			}
		}
	}

	@media (min-width:28.125em) {
		border-radius: var(--brs-l);
	}
}
