@import './components/header';

@import './components/footer';

@import './components/search';

@import './components/grid';

@import './components/card';

@import './components/sidebar';

@import './components/win-channel';

@import './components/win-video';

@import './components/indicator';

@import './components/win-playlist';

@import './components/author-card';

@import './components/win-subscriptions';

@import './components/toast';

@import './components/radio';

@import './components/dialog-sb';

@import './components/dropdown';

@import './components/win-settings';

@import './components/burger';

@import './components/switch';

@import './components/skeleton';

@import './components/spinner';

@import './components/spoiler';

@import './components/overlay';

@import './components/subscribe';

.main {
	--middle-val-pt: calc(84px + (114 - 84) * ((100vw - 320px) / (1200 - 320)));

	position: relative;

	min-height: 100vh;

	padding-top: clamp(84px, var(--middle-val-pt), 114px);
	padding-bottom: 50px;

	background-color: var(--color-bg);

	transition: background-color var(--trns);

	// .main__outter-container

	&__outter-container {
		position: relative;

		@media (min-width: 48em) {
			padding-right: 0;
		}
	}

	// .main__content

	&__content {
		--margin: 0;
		transition: margin var(--trns);

		.outter-container {
			@media (max-width: 28.0625em) {
				padding-inline: 0;
			}
		}

		@media (min-width: 48em) {
			margin-left: var(--margin);
		}
	}
}

.win {

	&:not(._active) {
		display: none;
	}

	&:not(._anim-win) {
		transform: scaleY(0.97);
		visibility: hidden;
		opacity: 0;

		transition:
			transform 0s var(--ease-out-sine) var(--trns-time-default),
			opacity var(--trns-time-fast) var(--ease-out-sine),
			visibility var(--trns-time-fast) var(--ease-out-sine);
	}

	&._active {
		display: block;
	}

	&._anim-win {
		transform: scaleY(1);
		visibility: visible;
		opacity: 1;

		transition:
			transform var(--trns-time-default) var(--ease-in-sine),
			opacity var(--trns-time-default) var(--ease-in-sine),
			visibility var(--trns-time-default) var(--ease-in-sine);
	}

	&__header {
		display: flex;
		align-items: center;
	}

	&__title {
		margin-bottom: 20px;

		font-weight: 700;
		font-size: unquote('clamp(1.375rem, 1.0462rem + 1.4615vw, 2.8rem)');
		text-transform: uppercase;

		@media (max-width: 28.0625em) {
			padding-inline: 15px;
		}
	}
}
