.preloader {
    position: fixed;
    top: 0;
    display: grid;
    place-content: center;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #FF0000;
    
	transition: transform var(--trns),
		opacity var(--trns),
		visibility var(--trns);
	
	&__el {
		height: 80px;
		width: 80px;
		border-top: 50px solid transparent;
		border-left: 100px solid #D0D4DC;
		border-bottom: 50px solid transparent;
	
		animation: pulsate 1s ease-in-out infinite both;
	}
	
	&._hidden {
		opacity: 0;
		transform: scale(15);
		visibility: hidden
	}
}


@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

