.video {

	.video-skeleton {
		border-radius: 0;
	}

	&._live {

		.controls__speed,
		.progress__time_duration,
		.time__separator {
			display: none;
		}
	}
	// .video__wrapper

	&__wrapper {
		--header-height: 0;

		position: relative;

		display: grid;
		place-items: center;

		aspect-ratio: 16 / 9;
		margin: auto;
		overflow: hidden;

		background-color: var(--color-bg);
		box-shadow: var(--box-shadow-s);

		video {
			position: absolute;
			inset: 0;

			width: 100%;
			height: 100%;
			object-fit: contain;

			background-color: var(--color-bg-duration);

			&::-webkit-media-text-track-display {
				text-align: center !important;
			}

			&::cue {
				font-family: var(--ff);
				line-height: 1.5;
			}
		}

		@media (min-width: 78.1875em) {
			flex: 1 1 100%;
		}

		@media (min-width: 48em) {
			width: 80%;
			border-radius: var(--brs-l);
		}

		@media (hover: hover) and (pointer: fine) {

			&:hover {

				.video__poster img {
					transform: scale(1.05);
				}
			}
		}

		@media (max-width: 47.9375em) {
			width: 100%;

			&._fixed {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 99;

				width: 100%;
				margin-top: var(--header-height);
			}
		}
	}

	&__poster {
		position: absolute;
		inset: 0;

		z-index: 1;

		width: 100%;
		height: 100%;
		margin-bottom: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			transition:
				transform var(--trns),
				opacity var(--trns);
		}

		&:not(._hidden) {

			img {
				transform: scale(1);
				opacity: 1;
			}
		}

		&._hidden {

			img {
				transform: scale(3);
				opacity: 0;
			}
		}
	}
}
