.card {

	&._channel {

		.card__image {
			align-self: center;
			justify-self: center;
			aspect-ratio: 1/1;
			width: 50%;
			border-radius: 50%;
		}

		.card__part,
		.card__edge,
		.card__duration,
		.card__channel {
			display: none;
		}
	}
}
