@import './global/scss/vars';

@import './global/scss/fonts';

@import './global/scss/settings';

.outter-container {
	width: clamp(320px, 100%, 1600px);
	margin-inline: auto;
	padding-inline: unquote('clamp(1rem, 0.6818rem + 1.5909vw, 1.875rem)');

	&:is(.header__outter-container) {
		@media (min-width: 48em) {
			padding-inline: unset;
		}
	}
}

svg {
	transition:
		stroke var(--trns),
		fill var(--trns);

	fill: var(--color-icon);
	stroke: var(--color-icon);
}

.title {
	color: var(--color-title);
	font-weight: 500;
	line-height: 33px / 26px * 100%;

	transition: color var(--trns);
}

img {
	transition: filter var(--trns);
}

.btn-accent,
.btn-primary {
	display: inline-block;
	width: 100%;
	padding-block: 19px;
	border-radius: var(--brs-m);

	text-align: center;
}

.btn-accent {
	border: 3px solid var(--color-accent-s);


	transition:
		background-color var(--trns),
		border-color var(--trns),
		transform var(--trns-fast),
		color var(--trns);

	@media (hover: hover) and (pointer: fine) {

		&:not(:focus-visible):hover {
			border: 3px solid var(--color-accent-m);
		}

		&:not(:hover) {
			color: hsl(0, 0%, 100%);

			background-color: var(--color-accent-s);
		}

		&:hover {
			color: var(--color-accent-s);

			background-color: var(--color-accent-l);
		}
	}
}

.btn-primary {
	border: 3px solid var(--color-bg-btn);


	transition:
		background-color var(--trns),
		color var(--trns),
		transform var(--trns-fast),
		border-color var(--trns);

	@media (hover: hover) and (pointer: fine) {

		&:not(:hover) {
			color: var(--color-title);

			background-color: var(--color-bg-btn);
		}

		&:focus {
			outline: 0;
		}

		&:hover {
			color: var(--color-text);
			text-decoration: none;

			background-color: var(--color-bg-btn-primary-hover);
		}
	}
}

.btn-secondary {
	border-radius: var(--brs-s);

	font-size: 0;

	transition:
		background-color var(--trns),
		transform var(--trns-fast),
		border-color var(--trns);

	&:not([disabled]) {
		background-color: var(--color-bg-form);

		& svg {
			fill: var(--color-title);
			stroke: var(--color-title);
		}
	}

	&[disabled] {
		background-color: var(--color-bg-btn-disabled);

		& svg {
			fill: var(--color-text);
			stroke: var(--color-text);
		}
	}

	@media (hover: hover) and (pointer: fine) {

		&:not([disabled]) {

			&:hover {
				background-color: var(--color-title);

				& svg {
					fill: var(--color-bg-form);
					stroke: var(--color-bg-form);
				}
			}
		}
	}
}

.onclick-effect {

	&:active {
		transform: scale(0.97);
	}
}

.arrow {
	display: flex;

	&:before,
	&:after {
		position: relative;
		top: 9px;

		display: block;
		width: 10px;
		height: 2px;

		background-color: var(--color-descr);

		transition:
			transform var(--trns),
			background-color var(--trns);

		content: '';
	}

	&:before {
		left: 2px;

		transform: rotate(45deg);
	}

	&:after {
		right: 2px;

		transform: rotate(-45deg);
	}
}
