@import './components/header/header';
@import './components/footer/footer';
@import './components/search/search';
@import './components/suggestions/suggestions';
@import './components/grid/grid';
@import './components/grid/grid_column';
@import './components/grid-btns/grid-btns';
@import './components/card/card';
@import './components/card/extra';
@import './components/card/card-author/card-author';
@import './components/card/card-playlist/card-playlist';
@import './components/card/card-video/card-video';
@import './components/card/card-rich/card-channel';
@import './components/sidebar/sidebar';
@import './components/indicator/indicator';
@import './components/toast/toast';
@import './components/radio/radio';
@import './components/dialog-sb/dialog-sb';
@import './components/dropdown/dropdown';
@import './components/burger/burger';
@import './components/switch/switch';
@import './components/tabs/tabs';
@import './components/update/update';
@import './components/skeleton/skeleton';
@import './components/spinner/spinner';
@import './components/spoiler/spoiler';
@import './components/overlay/overlay';
@import './components/subscribe/subscribe';
@import './layouts/win-channel/win-channel';
@import './layouts/win-video/win-video';
@import './layouts/win-video/video-info/video-info';
@import './components/video-controls/video-controls';
@import './layouts/win-playlist/win-playlist';
@import './layouts/win-subscriptions/win-subscriptions';
@import './layouts/win-settings/win-settings';

.main {
	position: relative;

	min-height: 100vh;

	padding-top: 86px;
	padding-bottom: 50px;

	background-color: var(--color-bg);

	transition: background-color var(--trns);

	// .main__outter-container

	&__outter-container {
		position: relative;
	}

	// .main__content

	&__content {
		--margin: 0;

		.outter-container {
			@media (max-width: 28.0625em) {
				padding-inline: 0;
			}
		}

		@media (min-width: 48em) {
			margin-left: var(--margin);

			transition: margin-left var(--trns);

			will-change: margin-left;
		}
	}
}

.win {
	padding-top: 30px;

	&:not(._active) {
		display: none;
	}

	&:not(._anim-win) {
		transform: scaleY(0.97);
		visibility: hidden;
		opacity: 0;

		transition:
			transform 0s var(--ease-out-sine) var(--trns-time-fast),
			opacity var(--trns-time-fast) var(--ease-out-sine),
			visibility var(--trns-time-fast) var(--ease-out-sine);
	}

	&._active {
		display: block;
	}

	&._anim-win {
		transform: scaleY(1);
		visibility: visible;
		opacity: 1;

		transition:
			transform var(--trns-time-fast) var(--ease-in-sine),
			opacity var(--trns-time-fast) var(--ease-in-sine),
			visibility var(--trns-time-fast) var(--ease-in-sine);
	}

	&__header {
		display: flex;
		align-items: center;
	}

	&__title {
		margin-bottom: 20px;

		font-weight: 700;
		font-size: unquote('clamp(1.375rem, 1.0462rem + 1.4615vw, 2.8rem)');
		text-transform: uppercase;

		@media (max-width: 28.0625em) {
			padding-inline: 15px;
		}
	}
}
