name: Build
on: [push, pull_request]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version:
          - 16
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - if: contains(matrix.os, 'ubuntu')
        run: sudo apt-get install libimagequant-dev
      - if: contains(matrix.os, 'macos')
        run: brew install libimagequant
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: install dependencies
        run: yarn --frozen-lockfile
      - name: start maker
        run: yarn run make
